{% extends 'baseapp/index.html' %}

{% load static %}

{% block meta_description %}
{{ block.super }}
{% endblock %}

{% block title %}
{{ block.super }}
{% endblock %}


{% block header %}
{{ block.super }}
{% endblock %}

{% block social %}
{% endblock %}

{% block content %}

<div class="main-container">
	<div class="container">
		<nav class="woocommerce-breadcrumb breadcrumbs">
			<a href="{% url 'show_index' %}">На главную</a>
			Новый заказ
		</nav>
		<div class="row">

			<div class="col-sm-6">

				<div class="block-form" id="accordion-as" role="tablist" aria-multiselectable="true">
					<div class="panel" style="border-bottom-style: none;">
						<div class="" role="tab" id="headingOne-as">
							<a data-toggle="collapse" data-parent="#accordion-as" href="#collapseOne-as" aria-expanded="true" aria-controls="collapseOne-as">
								<h3 class="form-heading">Доставка</h3></a>
							</a>
						</div>
						<div id="collapseOne-as" class="panel-collapse collapse" role="tabpane-as" aria-labelledby="headingOne-as">
							<form id="deliv_form" action="{% url 'order_add' %}" class="checkout" method="POST" >
								{% csrf_token %}	
									<div class="row">
										<div class="col-sm-6">
											<span>Имя</span>
											<p><input type="text" name="input_first_name" placeholder="Имя" value="{{ buyer.first_name }}"></p>
										</div>
										<div class="col-sm-6">
											<span>Фамилия</span>
											<p><input type="text" name="input_second_name" placeholder="Фамилия" value="{{ buyer.last_name }}"></p>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-6">
											<span>Телефон</span>
											<p><input id="phoneInput" name="input_phone" type="text" placeholder="Телефон" value="{{ buyer.phone }}" required></p>
										</div>
										<div class="col-sm-6">
											<span>Email</span>
											<p><input id="emailInput" name="input_email" type="text" placeholder="Email" value="{{ user.email }}" required></p>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-6">
											<span>Нас. пункт</span>
											<p><input type="text" name="input_locality" placeholder="Нас. пункт" value="{{ buyer.locality }}" required></p>
										</div>
										<div class="col-sm-6">
											<span>Улица</span>
											<p><input type="text" name="input_street" placeholder="Улица" value="{{ buyer.street }}" required></p>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-6">
											<span>Дом</span>
											<p><input type="text" name="input_house" placeholder="Дом" value="{{ buyer.house }}" required></p>
										</div>
										<div class="col-sm-6">
											<span>Квартира</span>
											<p><input type="text" name="input_apartments" value="{{ buyer.apartments }}" placeholder="Кв."></p>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-6">
											<span>Подъезд</span>
											<p><input type="text" name="input_porch" placeholder="Подъезд" value="{{ buyer.porch }}"></p>
										</div>
										<div class="col-sm-6">
											<span>Этаж</span>
											<p><input type="text" name="input_floor" value="{{ buyer.floor }}" placeholder="Этаж"></p>
										</div>
									</div>

									<div class="custom-control custom-radio" style="margin-left: 30px">
										<input type="radio" id="customRadio1" name="input_cook_time" class="custom-control-input"  value="now" {% if now_active %} checked {% else %} disabled  {% endif %}>
										<label class="custom-control-label" for="customRadio1">Как можно скорее</label>
									</div>
									<div class="custom-control custom-radio wishlist-form" style="margin-left: 30px;">
										<input type="radio" id="customRadio2" name="input_cook_time" class="custom-control-input" style="margin-bottom: 30px;" value="by_time" {% if now_active %}{% else %} checked {% endif %}>
										<label class="custom-control-label" for="customRadio2">Выбрать время</label>
										<input type="time" id="deliv_time" name="input_time" class="select-option" style="margin-left: 30px" min="{{ min_time }}" max="{{ max_time }}" value="{{ min_time }}">
									</div>


									<div class="block-form-footer text-center">
										<button form="deliv_form" class="button primary">Отправить заказ</button>
									</div>
							</form>
						</div>

					</div>

					<div class="panel" style="border-bottom-style: none;">
						
						<div class="" role="tab" id="headingTwo-as">
							<a class="collapsed" data-toggle="collapse" data-parent="#accordion-as" href="#collapseTwo-as" aria-expanded="false" aria-controls="collapseTwo-as">
								<h3 class="form-heading">Самовывоз</h3></a>
							</a>
						</div>

						<div id="collapseTwo-as" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo-as">
							<form id="pickup" action="{% url 'order_add' %}" class="checkout" method="POST">
							{% csrf_token %}
								<div class="row">
									<div class="col-sm-6">
										<span>Имя</span>
										<p><input type="text" name="input_first_name" placeholder="Имя" value="{{ buyer.first_name }}"></p>
									</div>
									<div class="col-sm-6">
										<span>Фамилия</span>
										<p><input type="text" name="input_second_name" placeholder="Фамилия" value="{{ buyer.last_name }}"></p>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-6">
										<span>Телефон</span>
										<p><input id="phoneInput" name="input_phone" type="text" placeholder="Телефон" value="{{ buyer.phone }}" required></p>
									</div>
									<div class="col-sm-6">
										<span>Email</span>
										<p><input id="emailInput" name="input_email" type="text" placeholder="Email" value="{{ user.email }}" required></p>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-6">
										<div class="custom-control custom-radio" style="padding-left: 10px">
											<input type="radio" id="customRadio1_self" name="input_cook_time" class="custom-control-input" checked value="now" {% if now_active %} checked {% else %} disabled  {% endif %}>
											<label class="custom-control-label" for="customRadio1_self">Как можно скорее</label>
										</div>
										<div class="custom-control custom-radio wishlist-form" style="padding-left: 10px;">
											<input type="radio" id="customRadio2_self" name="input_cook_time" class="custom-control-input" style="margin-bottom: 30px;" value="by_time" {% if now_active %}{% else %} checked {% endif %}>
											<label class="custom-control-label" for="customRadio2_self">Выбрать время</label>
											<input type="time" id="deliv_time" name="input_time" class="select-option" style="margin-left: 30px" min="{{ min_time }}" max="{{ max_time }}" value="{{ min_time }}">
										</div>
									</div>
									<div class="col-sm-6">
										<div class="custom-control custom-radio" style="padding-left: 10px">
											<input type="radio" id="location1" name="input_location" class="custom-control-input" checked value="1">
											<label class="custom-control-label" for="location1">Заберу из Сидрерии на Костюкова</label>
										</div>
										<div class="custom-control custom-radio" style="padding-left: 10px">
											<input type="radio" id="location2" name="input_location" class="custom-control-input" value="2">
											<label class="custom-control-label" for="location2">Заберу из Сидрерии на Везелке</label>
										</div>
									</div>
								</div>

								<div class="block-form-footer text-center">
									<button form="pickup" class="button primary">Отправить заказ</button>
								</div>

							</form>
						</div>

					</div>

				</div>

				<p style="margin-left: 20px;">
					Совершая заказ вы соглашаетесь с <a href="{% url 'show_delivery' %}">условиями  доставки</a>.<br> 
				</p>
				<p style="margin-left: 20px;">	
					Часы работы:<br>Вс-Чт : 09:00/0:00<br> Пт-Сб : 09-00/2-00
				</p>
				<p style="margin-left: 20px;">	
					За 30 минут до закрытия заведения прием заказов прекращается!
				</p>
				
			</div>



			<div class="col-sm-6">
				<div class="block-form order-review">
					<h3 class="form-heading">Ваш заказ</h3>
					<table class="shop_table">
						<thead>
							<tr>
								<th class="product-name">Товар</th>
								<th class="product-total"></th>
								<th class="product-total" style="text-align: right;">Сумма</th>
								<th class="product-total">С собой</th>
							</tr>
						</thead>
						<tbody>
							{% for item in cart_items %}
							<tr>
								<td class="product-name">{{ item.good }} </td>
								<td class="product-total"><span class="amount">x {{ item.quantity }}</span></td>
								<td class="product-total" style="text-align: right;"><span class="amount">&#8381 {{ item.summ }}</span></td>
								{% if item.good.category.name == 'Сертификаты' %}
								<td class="product-total"><span class="amount">&#8381 {{ item.summ }}</span></td>
								{% else %}
								<td class="product-total"><span class="amount">&#8381 {{ item.get_item_discount_summ }}</span></td>
								{% endif %}
							</tr>
							{% endfor %}
						</tbody>
						<tfoot>
							<tr class="order-total">
								<th>Итого</th>
								<th></th>
								<td style="text-align: right;"><strong><span class="amount">&#8381 {{ cart.summ }}</span></strong></td>
								<td><strong><span class="amount">&#8381 {{ cart.get_discount_summ }}</span></strong></td>
							</tr>
						</tfoot>
					</table>
				</div>
				{% comment %} <p>
					Стоимость вашего заказа указана без скидок!
				</p> {% endcomment %}
				<p>	
					На данный момент действуют акции при самовывозе:<br> -25% на весь сидр<br> -20% на основное меню<br>
				</p>
				<p>
					Скидка будет применена по факту подтверждения заказа нашими барменами.
				</p>
				<p>
					<a href="{% url 'show_delivery' %}"> О нашей доставке </a>
				</p>
			</div>
		</div>
	</div>	
</div>





{% endblock %}

{% block magnific_popup %}
{% endblock %}
