{% extends 'baseapp/index.html' %}

{% load static %}

{% block header %}
{{ block.super }}
{% endblock %}

{% block social %}
{{ block.super }}
{% endblock %}

{% block content %}

<div class="main-container margin-bottom-30">
	<div class="container">
		<nav class="woocommerce-breadcrumb breadcrumbs">
			<a href="{% url 'baseapp:index' %}">На главную</a>
			Фестивали
		</nav>
		<div class="row">
			{% if festivals %}
				{% for festival in festivals %}
				<div class="margin-top-10">
					<div class="container">
						<div class="row margin-0">
							<div class="col-sm-4 padding-0">
								<div 
									class="kt-banner block-banner-text style4 margin-bottom-10" 
									data-height="411" 
									data-bgcolor="{% if festival.color %}{{ festival.color }}{% else %}#A9A9A9{% endif %}" 
									data-verticalmiddle="middle"
								>
									<a href="{% url 'show_festival' cpu_slug=festival.cpu_slug %}" class="bg-image"></a>
									<div class="content text-center">
										<h3 class="title">{{ festival.name }}</h3>
										<h4 class="subtitle">{{ festival.description | slice:":150" }}</h4>
										<a class="link-more" href="{% url 'show_festival' cpu_slug=festival.cpu_slug %}">Подробности</a>
									</div>
								</div>
							</div>
							<div class="col-sm-8 padding-0">
								<div 
									class="kt-banner block-banner-text style5 margin-bottom-10"
									data-height="411" 
									data-background="{% if festival.list_img %}{{ festival.list_img.url }}{% endif %}" 
									data-positionright="110px" 
									data-verticalmiddle="middle"
								>
									<a href="{% url 'show_festival' cpu_slug=festival.cpu_slug %}" class="bg-image"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			{% else %}
			<div class="col-sm-12">
				<div class="text-center">
					<h3 class="title">К сожалению, нет действующих фестивалей.</h3>
				</div>
				<div class="text-center padding-top-30">
					<a class="button primary" href="{% url 'baseapp:index' %}">На главную</a>
				</div>
			</div>
			{% endif %}	
		</div>
		
		
	</div>	
</div>

{% endblock %}