{% load static %}
<div class="margin-top-30 margin-bottom-100">
	<div class="container">
		<div class="kt-tabs style1 kt-tab-fadeeffect">
			<div class="tab-head">
				<h3 class="tab-title">РЕКОМЕНДУЕМ</h3>
				<ul class="nav-tab">
					<li class="active"><a data-animated="fadeInUp" data-toggle="tab" href="#tab-3">СИДР</a></li>
					<li ><a data-animated="fadeInUp" data-toggle="tab" href="#tab-4">ЕДА</a></li>
				</ul>
			</div>
			<div class="tab-container">
				<div id="tab-3" class="tab-panel active">
					<ul class="owl-carousel nav-center nav-style-1" data-loop="true" data-nav="true" data-dots="false" data-margin="0" data-responsive='{"0":{"items":1},"480":{"items":2},"768":{"items":3},"1000":{"items":4}}'>
						<li 
							class="product-item style3"
							v-cloak
							v-for="item in popularDrinks" 
							:key="item.slug"
						>
							<div class="product-inner">
								<div class="thumb">
									<a
										href="#"
										@click="redirectToGood(item.slug)" 
									>
										<img v-if="item.img" :src="item.img" :alt="item.name">
										<img v-else src="{% static 'images/products/no-photo.png' %}" alt="">
									</a>
									<div class="group-button">
										<button v-if="item.ct_loading" disabled>
											<n-spin size="small"></n-spin>
										</button>
										<button v-else @click="addGoodToCart($event, item, `popularDrinks`)">В корзину</button>
									</div>
									<div class="flash">
										<span 
											v-if="(item.quantity == 0 && item.is_vine) || (item.quantity == 0 && item.is_cidre)"
											class="sale"
										>
											Все выпили
										</span>
										<span 
											v-else-if="(item.quantity == 0)" 
											class="sale"
										>
											Закончилось
										</span>
										<span v-if="item.in_barrel" class="new">Розлив</span>
									</div>
								<div class="info">
									<h3 class="product-name short">
										<a href="#" @click="redirectToGood(item.slug)">
											<span>${ item.name }$</span>
											<span v-if="item.name_en"> / ${ item.name_en }$</span>
										</a>
									</h3>
									<span v-if="item.old_price" class="price">
										<ins>&#8381 ${ item.price }$ </ins>
										<del>&#8381 ${ item.old_price }$</del>
									</span>
									<span v-else class="price">
										&#8381 ${ item.price }$
									</span>
									<span v-if="item.discount_price"> / </span>
									<span v-if="item.discount_price" class="price discount-price">
										&#8381 ${ item.discount_price }$ * 
									</span>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div id="tab-4" class="tab-panel">
					<ul class="owl-carousel nav-center nav-style-1" data-loop="true" data-nav="true" data-dots="false" data-margin="0" data-responsive='{"0":{"items":1},"480":{"items":2},"768":{"items":3},"1000":{"items":4}}'>
						<li 
							class="product-item style3"
							v-cloak
							v-for="item in popularDishes" 
							:key="item.slug"
						>
							<div class="product-inner">
								<div class="thumb">
									<a
										href="#"
										@click="redirectToGood(item.slug)" 
									>
										<img v-if="item.img" :src="item.img" :alt="item.name">
										<img v-else src="{% static 'images/products/no-photo.png' %}" alt="">
									</a>
									<div class="group-button">
										<button v-if="item.ct_loading" disabled>
											<n-spin size="small"></n-spin>
										</button>
										<button v-else @click="addGoodToCart($event, item, `popularDishes`)">В корзину</button>
									</div>
									<div class="flash">
										<span 
											v-if="(item.quantity == 0 && item.is_vine) || (item.quantity == 0 && item.is_cidre)"
											class="sale"
										>
											Все выпили
										</span>
										<span 
											v-else-if="(item.quantity == 0)" 
											class="sale"
										>
											Закончилось
										</span>
										<span v-if="item.in_barrel" class="new">Розлив</span>
									</div>
								<div class="info">
									<h3 class="product-name short">
										<a href="#" @click="redirectToGood(item.slug)">
											<span>${ item.name }$</span>
											<span v-if="item.name_en"> / ${ item.name_en }$</span>
										</a>
									</h3>
									<span v-if="item.old_price" class="price">
										<ins>&#8381 ${ item.price }$ </ins>
										<del>&#8381 ${ item.old_price }$</del>
									</span>
									<span v-else class="price">
										&#8381 ${ item.price }$
									</span>
									<span v-if="item.discount_price"> / </span>
									<span v-if="item.discount_price" class="price discount-price">
										&#8381 ${ item.discount_price }$ * 
									</span>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		{% include 'baseapp/widgets/pickup_reminder.html' %}
	</div>
</div>