{% load static %}

<div class="col-sm-4 col-md-4 sidebar border blog-sidebar">
    <div class="inner">
        <div class="widget widget_related_product">
            <h2 class="widget-title">Популярные сидры</h2>
            <ul class="owl-carousel nav-center nav-style-2" data-loop="true" data-nav="true" data-dots="false" data-margin="0" data-responsive='{"0":{"items":"1"},"768":{"items":"1"},"992":{"items":"1"}}'>
                <li 
                    v-cloak
                    v-for="item in popularDrinks" 
                    :key="item.slug"
                    class="product-item"
                >
                    <div class="product-inner">
                        <div class="thumb has-second-image">
                            <a 
                                href="#"
                                @click="redirectToGood(item.slug)"
                            >
                                <img v-if="item.img" :src="item.img" :alt="item.name">
                                <img v-else src="{% static 'images/products/no-photo.png' %}" alt="">
                            </a>
                            <div class="group-button">
                                <button v-if="item.ct_loading" disabled>
                                    <n-spin size="small"></n-spin>
                                </button>
                                <button v-else @click="addGoodToCart($event, item, `popularDrinks`)">В корзину</button>
                            </div>
                            <div class="flash">
                            </div>
                        </div>
                        <div class="info">
                            <h3 class="product-name short">
                                <a href="#" @click="redirectToGood(item.slug)">
                                    <span>${ item.name }$</span>
                                    <span v-if="item.name_en"> / ${ item.name_en }$</span>
                                </a>
                            </h3>
                            <span v-if="item.old_price" class="price">
                                <ins>&#8381 ${ item.price }$ </ins>
                                <del>&#8381 ${ item.old_price }$</del>
                            </span>
                            <span v-else class="price">
                                &#8381 ${ item.price }$
                            </span>
                            <span v-if="item.discount_price"> / </span>
                            <span v-if="item.discount_price" class="price discount-price">
                                &#8381 ${ item.discount_price }$ * 
                            </span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="widget widget_related_product">
            <h2 class="widget-title">Популярные блюда</h2>
            <ul class="owl-carousel nav-center nav-style-2" data-loop="true" data-nav="true" data-dots="false" data-margin="0" data-responsive='{"0":{"items":"1"},"768":{"items":"1"},"992":{"items":"1"}}'>
                <li 
                    v-cloak
                    v-for="item in popularDishes" 
                    :key="item.slug"
                    class="product-item"
                >
                    <div class="product-inner">
                        <div class="thumb has-second-image">
                            <a 
                                href="#"
                                @click="redirectToGood(item.slug)"
                            >
                                <img v-if="item.img" :src="item.img" :alt="item.name">
                                <img v-else src="{% static 'images/products/no-photo.png' %}" alt="">
                            </a>
                            <div class="group-button">
                                <button v-if="item.ct_loading" disabled>
                                    <n-spin size="small"></n-spin>
                                </button>
                                <button v-else @click="addGoodToCart($event, item, `popularDishes`)">В корзину</button>
                            </div>
                            <div class="flash">
                            </div>
                        </div>
                        <div class="info">
                            <h3 class="product-name short">
                                <a href="#" @click="redirectToGood(item.slug)">
                                    <span>${ item.name }$</span>
                                    <span v-if="item.name_en"> / ${ item.name_en }$</span>
                                </a>
                            </h3>
                            <span v-if="item.old_price" class="price">
                                <ins>&#8381 ${ item.price }$ </ins>
                                <del>&#8381 ${ item.old_price }$</del>
                            </span>
                            <span v-else class="price">
                                &#8381 ${ item.price }$
                            </span>
                            <span v-if="item.discount_price"> / </span>
                            <span v-if="item.discount_price" class="price discount-price">
                                &#8381 ${ item.discount_price }$ * 
                            </span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
