{% extends 'baseapp/base.html' %}
{% load static %}

{% block social %}
{% endblock %}

{% block content %}
    <div id="lunch-sets-root"></div>

    <script src="https://unpkg.com/react@18/umd/react.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

    <script type="text/babel" src="{% static 'lunch_set_app/lunch_set.js' %}"></script>
{% endblock %}
