{% extends 'baseapp/index.html' %}

{% load static %}

{% block meta_description %}
{{ block.super }}
{% endblock %}

{% block title %}
{{ block.super }}
{% endblock %}

{% block header %}
{{ block.super }}
{% endblock %}

{% block social %}
{% endblock %}

{% block custom_lib %}
{% endblock %}

{% block content %}
<div class="main-container no-sidebar" id="wishlistApp">
	<n-config-provider :theme-overrides="themeOverrides">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 main-content">
					<nav class="woocommerce-breadcrumb breadcrumbs">
						<a href="{% url 'baseapp:index' %}">На главную</a>
						<a href="{% url 'show_wishlist' %}">Избранное</a>
					</nav>
					{% comment %} {% if goods_list.length > 0 %} {% endcomment %}
					<div v-if="goods_list.length > 0" class="block-form">
						<table class="shop_table cart">
							<thead>
								<tr>
									<th class="product">Товар/Цена</th>
									<th>Наличие</th>
									<th></th>
									<th>Удалить</th>
								</tr>
							</thead>
							<tbody>
								<tr 
									v-cloak
									v-for="item in goods_list" 
									:key="item.slug"
								>
									<td class="product">
										<img v-if="item.img" class="product-thumb" :src="item.img" alt="" style="width: 50px;">
										<img v-else class="product-thumb" src="{% static 'images/products/no-photo.png' %}" alt="" style="width: 50px;">
										<div class="product-info">
											<h3 class="product-name">
												<a
													href="#"
													@click="redirectToGood(item.slug)"
												>
													<span>${ item.name }$</span>
													<span v-if="item.name_en"> / ${ item.name_en }$</span>
												</a>
											</h3>
											<span class="product-price">&#8381 ${ item.price }$</span>
											<span v-if="item.categoryName != 'Куличи' && item.categoryName != 'Вареники'"> / </span>
											<span class="price discount-price" v-if="item.categoryName != 'Куличи' && item.categoryName != 'Вареники'">&#8381 ${ item.discount_price }$ * </span>
										</div>
									</td>
									<td v-if="item.quantity > 0" class="stock">
										<span class="in-stock">в наличии</span>
									</td>
									<td v-else class="stock">
										<span 
											v-if="item.is_cidre && item.is_vine" 
											class="in-stock" 
											style="color: orange;"
										>
											все выпили
										</span>
										<span
											v-else-if="item.in_barrel"
											class="in-stock"
											style="color: orange;"
										>
											временно недоступен
										</span>
										<span 
											v-else
											class="in-stock"
											style="color: orange;"
										>
											закончилось
										</span>
									</td>
									<td>
										<div class="quantity">
											<button v-if="item.ct_loading" disabled>
												<n-spin size="small"></n-spin>
											</button>
											<button v-else @click="addGoodToCart($event, item)">В корзину</button>
										</div>
									</td>
									<td class="product-remove">
										<a 
											class="remove" 
											href="#"
											@click="addDelGoodToWishlist($event, item)"
										>
											<i class="fa fa-close"></i>
										</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div v-else class="col-sm-12" >
						<div class="text-center">
							<h2 class="title">Отметь своих любимчиков из нашей коллекции!</h2>
						</div>
						<div class="text-center" style="padding-top: 30px ">
							<a href="{% url 'show_catalog' %}"><button class="button  primary">За покупками</button></a>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</n-config-provider>
</div>
<div class="container">
	{% include 'baseapp/widgets/pickup_reminder.html' %}
</div>
{% endblock %}

{% block magnific_popup %}
{% endblock %}

{% block custom_script %}
<script type="text/javascript">
	const WishlistApp = {
		data () {
			const { NConfigProvider } = naive
			const themeOverrides = {
				common: {
				  primaryColor: '#444444',
				  primaryColorHover: '#444444',
				},
				Badge: {
				  color: '#eec15b',
				},
			}
			return {
				goods_list: [],
				NConfigProvider,
				themeOverrides,
			}
		},
		delimiters: ["${", "}$"],
		computed: {
			goodsList () {
				return {{ goods_list|safe }}
			},
		},
		mounted () {
			this.goods_list = this.goodsList
		},
		methods: {
			redirectToGood(slug) {
				window.location.href = `/catalog/${slug}`
			},
			addGoodToCart (el, goodObj) {
				el.preventDefault()
				let good = this.goods_list.find(item => item.slug === goodObj.slug)
				good.ct_loading = true
				setTimeout(() => {
					axios.defaults.xsrfCookieName = 'csrftoken'
					axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"
					axios({
						method: 'post',
						url: `/api/v1/cart/`,
						data: {
							"price": good.price,
							"good": good.pk,
							"quantity": 1
						}
					}).then(response => {
						window.location.reload()
					}).catch(error => {
						console.log(error)
					}).finally(() => {
						good.ct_loading = false
					})
				}, 500)
			},
			addDelGoodToWishlist (el, goodObj) {
				el.preventDefault()
				let good = this.goods_list.find(item => item.slug === goodObj.slug)
				setTimeout(() => {
					axios.defaults.xsrfCookieName = 'csrftoken'
					axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"
					if (good.in_wishlist) {
						axios({
							method: 'delete',
							url: `/api/v1/wishlist/${good.slug}/`,
						}).then(response => {
							window.location.reload()
						}).catch(error => {
							console.log(error)
						})
					}
				}, 500)
			},
		}
	}
	const app = Vue.createApp(WishlistApp)
	app.use(naive)
	app.mount('#wishlistApp')
</script>

{% endblock %}