{% extends 'baseapp/index.html' %}

{% load static %}

{% block meta_description %}
{{ block.super }}
{% endblock %}

{% block title %}
{{ block.super }}
{% endblock %}

{% block header %}
{{ block.super }}
{% endblock %}

{% block social %}
{% endblock %}

{% block content %}

<div class="main-container no-sidebar">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 main-content">
				<nav class="woocommerce-breadcrumb breadcrumbs">
					<a href="{% url 'baseapp:index' %}">На главную</a>
					<a href="{% url 'show_wishlist' %}">Избранное</a>
				</nav>
				{% if wishlist.items %}
				<div class="block-form">
					
					<table class="shop_table cart">
						<thead>
							<tr>
								<th class="product">Товар/Цена</th>
								<th>Наличие</th>
								<th></th>
								<th>Удалить</th>
							</tr>
						</thead>
						<tbody>
							{% for item in wishlist.items %}
							<tr>
								<td class="product">
									<img class="product-thumb" src="{{ item.main_image.images.url }}" alt="" style="width: 50px;">
									<div class="product-info">
										<h3 class="product-name"><a href="{% url 'show_good' slug=item.slug %}">{{ item.name }}{% if item.name_en %} / {{ item.name_en }}{% endif %}</a></h3>
										<span class="product-price">&#8381 {{ item.price }}{% if item.category.name == "Куличи" or item.category.name == "Вареники" %}{% else %} / &#8381 * {{ item.discount_price }}{% endif %}</span>
									</div>
								</td>
								<td class="stock">
									{% if item.quantity >= 1 %}
										{% if item.in_barrel %}
											{% if item in barrels %}
											<span class="in-stock">в наличии</span>
											{% else %}
											<span class="in-stock" style="color: orange;">временно недоступен</span>
											{% endif %}
										{% else %}
										<span class="in-stock">в наличии</span>
										{% endif %}
									{% else %}
									{% if item.is_cidre %}
									<span class="in-stock" style="color: orange;">все выпили</span>
									{% else %}
									<span class="in-stock" style="color: orange;">закончилось</span>
									{% endif %}
									{% endif %}
								</td>
								<td>
									<div class="quantity">
										<form id="{{ item.slug }}addtocart" action="{% url 'cart_add_item' slug=item.slug %}" method="POST">
											{% csrf_token %}
											<input type="hidden" name="quantity" value="1">

											{% if item.quantity >= 1 %}
											{% if item.in_barrel %}
												{% if item in barrels %}
												<button type="submit" class="button add_to_cart_button">В корзину</button>
												{% endif %}
											{% else %}
											<button type="submit" class="button add_to_cart_button">В корзину</button>
											{% endif %}
											{% endif %}

											
										</form>
										
									</div>
								</td>
								<td class="product-remove">
									<a class="remove" href="{% url 'wishlist_add_item' slug=item.slug %}"><i class="fa fa-close"></i></a>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				{% else %}
				<div class="col-sm-12" >
					<div class="text-center">
						<h2 class="title">Отметь своих любимчиков из нашей коллекции сидров!</h2>
					</div>
					<div class="text-center" style="padding-top: 30px ">
						<a class="button primary" href="{% url 'show_catalog' %}">За покупками</a>
					</div>
				</div>
				{% endif %}
				
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-12" style="padding: 10px 15px;" align="right">
			<p>
				* цена при самовывозе
			</p>	
		</div>
	</div>
</div>
{% endblock %}

{% block magnific_popup %}
{% endblock %}