{% extends 'baseapp/index.html' %}

{% load static %}


{% block content %}

<div class="main-container no-sidebar">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 main-content">
				<div class="text-center page-404">
					<h1 class="heading">404</h1>
					<h2 class="title">Страница не найдена</h2>
					<p>Извините, но запрашиваемой страницы не существует.<br>Возможно, она была удалена или в запросе был указан неверный адрес страницы.<br> Попробуйте начать с главной страницы.</p>
					<a class="button primary" href="{% url 'show_index' %}">На главную</a>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}