{% extends 'baseapp/index.html' %}

{% load static %}

{% block content %}
<div class="main-container {% if not subcategories %} left-sidebar {% endif %} {% if filters %} left-sidebar {% endif %}">
	<div class="container">
		<div class="row">
			{% if not subcategories %}
			{% if filters %}
			<div class="col-sm-4 col-md-3 sidebar blog-sidebar margin-bottom-20" id="accordion">

				<div class="widget widget_categories margin-bottom-20">
					<a data-toggle="collapse" data-target="#collapseAll" aria-expanded="true" aria-controls="collapseAll">
						<h2 class="widget-title margin-bottom-0">Выбери свой сидр<span style="float: right;">&#9660</span></h2>
					</a>
				</div>

				<div id="collapseAll" class="collapse" aria-labelledby="headingAll" data-parent="#accordion">
					<div class="card-body">

						<form id="filter_form" action="{% url 'show_product_with_filters' %}" method="GET" >
							
							<div class="widget widget_categories margin-bottom-20">
								<h2 class="widget-title margin-bottom-0">Что внутри?</h2>
								<ul>
									{% for key , value in filters.9.items %}
										<li><a><input type="checkbox" name="{{ key }}" value="{{ value }}" {% if value in active_filters %} checked {% else %}  {% endif %}> {{ value }}</a><span class="count"></span></li>
									{% endfor %}
								</ul>
							</div>

							<div class="widget widget_categories margin-bottom-20">
								<h2 class="widget-title margin-bottom-0">Страна</h2>
								<ul>
									{% for key , value in filters.2.items %}
										<li><a><input type="checkbox" name="{{ key }}" value="{{ value }}" {% if value in active_filters %} checked {% else %}  {% endif %}> {{ value }}</a><span class="count"></span></li>
									{% endfor %}
								</ul>
							</div>

							<!-- <div class="widget widget_price_filter">
								<h2 class="widget-title margin-bottom-40">Цена</h2>
								<div class="price_slider_wrapper">
									<div class="amount-range-price"><span>&#8381 {{ filters.1|first }}</span> - <span>&#8381 {{ filters.1|last }}</span></div>
									<div data-label-reasult="Цена:" data-min="{{ filters.1|first }}" data-max="{{ filters.1|last }}" data-unit="&#8381" class="slider-range-price " data-value-min="{{ filters.1|first }}" data-value-max="{{ filters.1|last }}"></div>
								</div>
							</div> -->

							<div class="widget widget_categories margin-bottom-20">
								<h2 class="widget-title margin-bottom-0">Сладость</h2>
								<ul>
									{% for key , value in filters.4.items %}
										<li><a><input type="checkbox" name="{{ key }}" value="{{ value }}" {% if value in active_filters %} checked {% else %}  {% endif %}> {{ value }}</a><span class="count"></span></li>
									{% endfor %}
								</ul>
							</div>

							<div class="widget widget_categories margin-bottom-20">
								<h2 class="widget-title margin-bottom-0">Пузырьки</h2>
								<ul>
									{% for key , value in filters.6.items %}
										<li><a><input type="checkbox" name="{{ key }}" value="{{ value }}" {% if value in active_filters %} checked {% else %}  {% endif %}> {{ value }}</a><span class="count"></span></li>
									{% endfor %}
								</ul>
							</div>

							<div class="widget widget_categories margin-bottom-20">
								<h2 class="widget-title margin-bottom-0">Объем</h2>
								<ul>
									{% for key , value in filters.5.items %}
									<li><a><input type="checkbox" name="{{ key }} " value="{{ value }}" {% if value in active_filters %} checked {% else %}  {% endif %}> {{ value }} L</a><span class="count"></span></li>
									{% endfor %}
								</ul>
							</div>

							<div class="widget widget_categories margin-bottom-20">
							<h2 class="widget-title margin-bottom-0">Крепость</h2>
							<ul>
								{% for key , value in filters.3.items %}
								<li><a><input type="checkbox" name="{{ key }}" value="{{ value }}" {% if value in active_filters %} checked {% else %}{% endif %}> {{ value }}</a><span class="count"></span></li>
								{% endfor %}
							</ul>
							</div>

							<div class="widget widget_categories margin-bottom-20">
								<h2 class="widget-title margin-bottom-0">Пастеризация</h2>
								<ul>
									{% for key , value in filters.7.items %}
										<li><a><input type="checkbox" name="{{ key }}" value="{{ value }}" {% if value in active_filters %} checked {% else %}  {% endif %}> {{ value }}</a><span class="count"></span></li>
									{% endfor %}
								</ul>
							</div>

							<div class="widget widget_categories margin-bottom-20">
								<h2 class="widget-title margin-bottom-0">Фильтрация</h2>
								<ul>
									{% for key , value in filters.8.items %}
										<li><a><input type="checkbox" name="{{ key }}" value="{{ value }}" {% if value in active_filters %} checked {% else %}  {% endif %}> {{ value }}</a><span class="count"></span></li>
									{% endfor %}
								</ul>
							</div>

							<div class="widget widget_categories margin-bottom-40">

								<a data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
									<h2 class="widget-title margin-bottom-0">Производители<span style="float: right;">&#9660</span></h2>
								</a>

								<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
									<div class="card-body">
										<ul>
											{% for key , value in filters.0.items %}
											<li><a><input type="checkbox" name="{{ key }}" value="{{ value }}" {% if value in active_filters %} checked {% else %}  {% endif %}> {{ value }}</a><span class="count"></span></li>
											{% endfor %}
										</ul>
									</div>
								</div>
							</div>

							<div class="block-form-footer text-left">
								<button form="filter_form" class="button primary">Показать</button>
							</div>

						</form>
					</div>
				</div>		

			</div>
			{% endif %}
			{% endif %}
			<div class="{% if filters %} col-sm-8 col-md-9 {% else %} col-sm-12 col-md-12 {% endif %} main-content">
				<div class="shop-page-bar">
					<nav class="woocommerce-breadcrumb breadcrumbs">
						<a href="{% url 'show_index' %}">На главную</a>
						<a href="{% url 'show_catalog' %}">Каталог</a>
						{% if category %}
						<a href="{% url 'show_category' slug=category.slug %}">{{ category.name }}</a>
						{% endif %}
						{% if manufacturer %}
						<a>Производители</a>
						<a href="{% url 'show_manufacturer' slug=manufacturer.slug %}">{{ manufacturer.name }}</a>
						{% endif %}
					</nav>
				</div>
				{% if subcategories %}
				<div class="margin-top-30">
					<div class="container">
						<div class="row">
							{% for cat in subcategories %}
							<div class="col-sm-4">
								<div class="kt-banner block-banner-text style3 margin-top-30" data-height="334" data-reponsive='{"320":320,"480":480,"768":220,"1024":293}' data-background="{% if cat.picture %}{{ cat.picture.url }} {% else %} {% static 'images/products/no-photo.png' %} {% endif %}" data-positionright="0px" data-positionleft="0px" data-verticalmiddle="middle">
									<a href="{% url 'show_category' slug=cat.slug %}" class="bg-image">Banner Bg</a>
									<div class="content text-center">
										<h4 class="subtitle" style="font-family: 'Bebas'; font-size: 60px">{{ cat.name }}</h4>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>		
				{% else %}
				{% if manufacturer %}
					<p align="justify">{{ manufacturer.description }}</p>
				{% endif %}
					{% if page_object.object_list %}
					<ul class="products product-list-grid {% if filters %} desktop-columns-3 {% else %} desktop-columns-4 {% endif %} tablet-columns-3 mobile-columns-2">
						{% for item in page_object.object_list %}
							<li class="product-item {% if filters %} col-md-4 {% else %} col-md-3 {% endif %}col-sm-4 col-xs-6">
								<div class="product-inner">
									<div class="thumb has-second-image">
										<a href="{% url 'show_good' slug=item.good.slug %}">
											{% if item.image %}
											<img src="{{ item.image.images.url }}" alt="">
											{% else %}
											<img src="{% static 'images/products/no-photo.png' %}" alt="">
											{% endif %}
										</a>
									</div>
									<div class="info">
										<h3 class="product-name short"><a href="{% url 'show_good' slug=item.good.slug %}">{{ item.good.name }}{% if item.good.name_en %} / {{ item.good.name_en }} {% endif %}</a></h3>
										{% if item.good.price %}
											{% if item.good.old_price %}
											<span class="price"><ins>&#8381 {{ item.good.price }} </ins><del>&#8381 {{ item.good.old_price }}</del></span>
											{% else %}
											<span class="price">{{ item.good.price }}</span>
											{% endif %}
										{% else %}
										<span class="price">&#8381 0</span>
										{% endif %}
										<form id="{{ item.good.slug }}addtocart" action="{% url 'cart_add_item' slug=item.good.slug %}" method="POST">
											{% csrf_token %}
											<input type="hidden" name="quantity" value="1">
										</form>
										<div class="group-button">
												{% if item.good.quantity >= 1 %}
												{% if item.good.in_barrel %}
													{% if item.good in barrels %}
														<button form="{{ item.good.slug }}addtocart" type="submit" class="button add_to_cart_button">В корзину</button>
													{% endif %}
												{% else %}
												<button form="{{ item.good.slug }}addtocart" type="submit" class="button add_to_cart_button">В корзину</button>
												{% endif %}
												{% endif %}
												<a href="{% url 'wishlist_add_item' slug=item.good.slug %}" class="wishlist"{% if item.good in wishlist %} style="color: red;" {% endif %}>В Избранное</a>
											
										</div>
										<div class="flash">
										{% if not item.good.quantity %}
										<span class="sale">Все выпили</span>
										{% endif %}
										{% if item.good.in_barrel %}
										<span class="new">Розлив</span>
										{% endif %}
									</div>
									</div>
								</div>
							</li>
						{% endfor %}
					</ul>
					{% else %}
					<div class="col-sm-12" >
						<div class="text-center">
							<h3 class="title">К сожалению, ни одного сидра с такими параметрами у нас нет. Задайте чуть менее строгие условия фильтрации</h3>
						</div>

					</div>
					{% endif %}
					{% if is_paginated %}
						<nav class="woocommerce-pagination navigation">
							<ul class="page-numbers">
								<li><a class="next page-numbers" href="{{ prev_url }}"><i class="fa fa-long-arrow-left"></i></a></li>
								{% for n in page_object.paginator.page_range %}
			                        {% if page_object.number == n %}
										<li><span class="page-numbers current"><a href="{% if str_active_filters %} {{ str_active_filters }}page={{ n }} {% else %}?page={{ n }}{% endif %}">{{ n }}</a></span></li>
									{% elif n > page_object.number|add:-3 and n < page_object.number|add:3 %}
										<li><a class="page-numbers" href="{% if str_active_filters %} {{ str_active_filters }}page={{ n }} {% else %}?page={{ n }}{% endif %}">{{ n }}</a></li>
									{% endif %}
		                    	{% endfor %}
								<li><a class="next page-numbers" href="{{ next_url }}"><i class="fa fa-long-arrow-right"></i></a></li>
							</ul>
						</nav>
					{% endif %}

				{% endif %}

			</div>
			
		</div>
	</div>
</div>
{% endblock %}

{% block magnific_popup %}
{% endblock %}