{% extends 'baseapp/index.html' %}

{% load static %}

{% block content %}
<div class="main-container left-sidebar">
	<div class="container">
		<nav class="woocommerce-breadcrumb breadcrumbs">
			<a href="{% url 'show_index' %}">На главную</a>
			<a href="{% url 'show_catalog' %}">Каталог</a>
			{{ good.name_en }}
		</nav>
		<div class="row">
			<div class="col-sm-12 col-md-12 main-content">
				<div class="single-product">
					<div class="row">
						<div class="col-sm-12 col-md-5">
							<div class="images kt-images-zoom">
								<div class="kt-easyzoom easyzoom easyzoom--with-thumbnails">
									{% if main_pictures.images %}
									<a href="{{ main_pictures.images.url }}">
										<img src="{{ main_pictures.images.url }}" alt=""/>
									</a>
									{% else %}
									<a href="{% static 'images/products/no-photo.png' %}">
										<img src="{% static 'images/products/no-photo.png' %}" alt=""/>
									</a>
									{% endif %}
								</div>
								{% if pictures.count > 1 %}
								<ul class="kt-zoom-thumbnails owl-carousel" data-loop="true" data-nav="true" data-dots="false" data-margin="10" data-responsive='{"0":{"items":"2"},"768":{"items":"3"},"992":{"items":"3"}}'>
									{% for picture in pictures %}
									<li>
										<a href="{{ picture.images.url }}" data-standard="{{ picture.images.url }}">
											<img src="{{ picture.images.url }}" alt="{{ picture.images.title }}" />
										</a>
									</li>
									{% endfor %}
								</ul>
								{% endif %}
							</div>
						</div>
						<div class="col-sm-12 col-md-7">
							<div class="summary">
								<h1 class="product_title entry-title">{{ good.name }} / {{ good.name_en }}</h1>
								{% if good.price %}
								<span class="price">&#8381 {{ good.price }}</span>
								{% else %}
								<span class="price">&#8381 0</span>
								{% endif %}
								<p class="stock out-of-stock"><label>На баре:</label> {% if good.quantity > 0 %}<i class="fa fa-check"></i> В наличии </p> {% else %}<i class="fa fa-check"></i> Ожидаем </p> {% endif %}
								<div class="short-descript">
									<p>{{ good.description|linebreaksbr }}...</p>
								</div>
								<div class="variation_form_section">
									<h1 class="product_title entry-title">Характеристики</h1>
									<div class="row">
										<div class="col-sm-6 col-md-6">
											<div>
												<label>Производитель:</label>
												<a href="{% if good.manufacturer %} {% url 'show_manufacturer' slug=good.manufacturer.slug %} {% endif %}">{% if good.manufacturer %}{{ good.manufacturer }}{% endif %}</a>
											</div>
											<div>
												<label>Страна:</label>
												<a>{% if country %}{{ country }}{% endif %}</a>
											</div>
											<div>
												<label>Крепость:</label>
												<a>{% if country %}{{ strength }}{% endif %} %</a>
											</div>
											<div>
												<label>Сахар:</label>
												<a>{% if country %}{{ sugar }}{% endif %}</a>
											</div>

										</div>
										<div class="col-sm-6 col-md-6">
											<div>
												<label>Объем:</label>
												<a>{% if country %}{{ volume }}{% endif %} L</a>
											</div>
											<div>
												<label>Газация:</label>
												<a>{% if country %}{{ gas }}{% endif %}</a>
											</div>
											<div>
												<label>Пастеризация:</label>
												<a>{% if country %}{{ pasteuriz }}{% endif %}</a>
											</div>
											<div>
												<label>Фильрация:</label>
												<a>{% if country %}{{ filtration }}{% endif %}</a>
											</div>
										</div>
									</div>	
								</div>
							</div>
						</div>
					</div>
				</div> 
			</div>
		</div>
	</div>
</div>
{% endblock %}