{% extends 'baseapp/index.html' %}

{% load static %}

{% block meta_description %}{% if good.meta_description %}{{ good.meta_description }}{% else %} {{good.description|slice:"250" }}{% endif %}{% endblock %}

{% block title %}{% if good.meta_name %}{{ good.meta_name }}{% else %}{{ good.name }}{% if good.name_en %} / {{ good.name_en }}{% endif %}{% endif %}{% endblock %}


{% block content %}
<div class="main-container left-sidebar">
	<div class="container">
		<nav class="woocommerce-breadcrumb breadcrumbs">
			<a href="{% url 'show_index' %}">На главную</a>
			<a href="{% url 'show_catalog' %}">Каталог</a>
			{{ good.name_en }}
		</nav>
		<div class="row">
			<div class="col-sm-12 col-md-12 main-content">
				<div class="single-product">
					<div class="row">
						<div class="col-sm-12 col-md-5">
							<div class="images kt-images">
								<div class="kt-main-image">
									{% if main_pictures.images %}
									<a class="zoom" href="{{ main_pictures.images.url }}"><img src="{{ main_pictures.images.url }}" alt=""></a>
									{% else %}
									<a class="zoom" href="{% static 'images/products/no-photo.png' %}">
										<img src="{% static 'images/products/no-photo.png' %}" alt=""/>
									</a>
									{% endif %}
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-md-7">
							<div class="summary">
								<h1 class="product_title entry-title">{{ good.name }} {% if good.name_en %} / {{ good.name_en }} {% endif %}</h1>
								{% if good.price %}

								<span class="price">&#8381 {{ good.price }}</span>
								{% else %}
								<span class="price">&#8381 0</span>
								{% endif %}
								{% if is_cidre %}
								<p class="stock out-of-stock"><label>в Сидрерии:</label> {% if good.quantity > 0 %}<i class="fa fa-check"></i> в наличии </p> {% else %}<i class="fa fa-times" style="color: orange;"></i> все выпили </p> {% endif %}
								{% else %}
								<p class="stock out-of-stock"><label>вес, гр: {% if good.weight %} {{ good.weight }} {% endif %}</label>
								{% endif %}
								<div class="short-descript">
									<p align="justify">{{ good.description|linebreaksbr }}</p>
								</div>
								{% if is_cidre %}

								<div class="variation_form_section">
									<h2 class="product_title entry-title" style="font-size: 100%; font-weight: 600">Характеристики</h2>
									<div class="row">
										<div class="col-sm-6 col-md-6">
											<div>
												<label>Производитель:</label>
												<a href="{% if good.manufacturer %} {% url 'show_manufacturer' slug=good.manufacturer.slug %} {% endif %}">{% if good.manufacturer %}{{ good.manufacturer }}{% endif %}</a>
											</div>
											<div>
												<label>Что внутри?:</label>
												<a href="{% url 'show_product_with_tag' %}?tag={{ inside }}">{% if inside %}{{ inside }}{% endif %}</a>
											</div>
											<div>
												<label>Страна:</label>
												<a href="{% url 'show_product_with_tag' %}?tag={{ country }}">{% if country %}{{ country }}{% endif %}</a>
											</div>
											<div>
												<label>Крепость:</label>
												<a href="{% url 'show_product_with_tag' %}?tag={{ strength }}">{% if country %}{{ strength }} %{% endif %}</a>
											</div>
											<div>
												<label>Сладость:</label>
												<a href="{% url 'show_product_with_tag' %}?tag={{ sugar }}">{% if country %}{{ sugar }}{% endif %}</a>
											</div>

										</div>
										<div class="col-sm-6 col-md-6">
											<div>
												<label>Объем бутылочки:</label>
												<a href="{% url 'show_product_with_tag' %}?tag={{ volume }}">{% if country %}{{ volume }} L{% endif %}</a>
											</div>
											<div>
												<label>Пузырьки:</label>
												<a href="{% url 'show_product_with_tag' %}?tag={{ gas }}">{% if country %}{{ gas }}{% endif %}</a>
											</div>
											<div>
												<label>Пастеризация:</label>
												<a href="{% url 'show_product_with_tag' %}?tag={{ pasteuriz }}">{% if country %}{{ pasteuriz }}{% endif %}</a>
											</div>
											<div>
												<label>Фильрация:</label>
												<a href="{% url 'show_product_with_tag' %}?tag={{ filtration }}">{% if country %}{{ filtration }}{% endif %}</a>
											</div>
										</div>
									</div>

								</div>

								<div class="quantity"></div>

								<div class="variation_form_section">
									<h2 class="product_title entry-title" style="font-size: 100%; font-weight: 600">Гастрономия</h2>
									<div class="short-descript">
									<p align="justify">{{ good.gastronomy|linebreaksbr }}</p>
									</div>
								</div>

								{% endif %}
								<div class="quantity"></div>
								<div class="wishlist-item">
									<form id="quantityform" action="{% url 'cart_add_item' slug=good.slug %}" method="POST">
										{% csrf_token %}
										{% if good.in_barrel %}
										<select type="text" name="quantity">
											<option value="0.5">0,5</option>
											<option value="1.0">1,0</option>
											<option value="1.5">1,5</option>
											<option value="2.0">2,0</option>
											<option value="2.5">2,5</option>
											<option value="3.0">3,0</option>
											<option value="3.5">3,5</option>
											<option value="4.0">4,0</option>
										</select>
										{% else %}
										<input type="text" name="quantity" value="1" title="Qty" class="input-text qty text" size="1" required>
										{% endif %}
										{% if good.quantity >= 1 %}
										{% if good.in_barrel %}
											{% if good in barrels %}
												<button type="submit" class="">В корзину</button>
											{% endif %}
										{% else %}
										<button type="submit" class="">В корзину</button>
										{% endif %}
										{% endif %}
										<a href="{% url 'wishlist_add_item' slug=good.slug %}" class="button wishlist"><span class="flaticon-heart295" {% if good in wishlist %} style="color: red;" {% endif %}></span></a>
									</form>
									
								</div>
								
							</div>
						</div>
					</div>
					{% if opv %}
					<div class="row">
						<div class="col-sm-12 col-md-5"> </div>
						<div class="col-sm-12 col-md-7">
							<div class="product-tabs">
								<ul class="nav-tab">
						            <li class="active"><a data-toggle="tab" href="#tab-1">Теги</a></li>
						        </ul>
						        <div class="tab-container">
						        	<div id="tab-1" class="tab-panel active">
						        		<div class="tagcloud">
						        			{% for item in opv %}
						        				<a href="{% url 'show_product_with_tag' %}?tag={{ item.property_value }}">{{ item.property_value }}</a>
						        			{% endfor %}
				                        </div>
						        	</div>
						        </div>
							</div>
						</div>
					</div>
					{% endif %}	
				</div> 

			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block magnific_popup %}
{% endblock %}