{% extends 'baseapp/base.html' %}

{% load static %}

{% block social %}
{% endblock %}

{% block content %}
<div class="main-container">
	<div class="container">
		<nav class="woocommerce-breadcrumb breadcrumbs">
			<a href="{% url 'baseapp:index' %}">На главную</a>
			<a href="{% url 'baseapp:atmosphere' %}">Атмосфера</a>
		</nav>
		<div class="row">
			<div class="col-sm-2 col-md-2" >	
			</div>
			<div class="col-sm-8 col-md-8 main-content">
				<div class="blog-single">
					<div class="post-item">
						<div class="post-info">
							<h3 class="post-title" align="center"><a>Сидрерия – это место для любителей и ценителей сидра и не только.</a></h3>
							<div class="blog-content">
								<p>Создавая наше пространство, мы хотели, чтобы вы чувствовали себя в Сидрерии как дома. Мы сделали большой удобный бар, чтобы вам было комфортно за ним и кушать, и потягивать бокал любимого напитка, и болтать с любимым барменом.</p>
								<blockquote>Мы планировали, что в нашей Сидрерии вам будет уютно встретиться и с вашей половинкой, и собраться шумной компанией друзей, и отметить важные семейные праздники.</blockquote>
								<p>Мы почти каждый день приглашаем наших друзей-музыкантов, которые играют душевные концерты, поют ваши любимые песни или вновь заставляют влюбить в джаз.</p>
								<p>Мы делаем все, чтобы с вами, нашими гостями, мы стали добрыми друзьями.</p>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12 col-md-12">
								<div class="col-sm-6 col-md-6" style="padding-top: 20px">
									<img src="{% static 'images/atmo/atmo2.jpg' %}" alt="" class="img-fluid">
								</div>
								<div class="col-sm-6 col-md-6" style="padding-top: 20px">
									<img src="{% static 'images/atmo/atmo3.jpg' %}" alt="" class="img-fluid">
								</div>
								<div class="col-sm-6 col-md-6" style="padding-top: 20px">
									<img src="{% static 'images/atmo/atmo4.jpg' %}" alt="" class="img-fluid">
								</div>
								<div class="col-sm-6 col-md-6" style="padding-top: 20px">
									<img src="{% static 'images/atmo/atmo7.jpg' %}" alt="" class="img-fluid">
								</div>
								<div class="col-sm-12 col-md-12" style="padding-top: 20px">
									<img src="{% static 'images/atmo/atmo9.jpg' %}" alt="" class="img-fluid">
								</div>
								<div class="col-sm-6 col-md-6" style="padding-top: 20px">
									<img src="{% static 'images/atmo/atmo8.jpg' %}" alt="" class="img-fluid">
								</div>
								<div class="col-sm-6 col-md-6" style="padding-top: 20px">
									<img src="{% static 'images/atmo/atmo11.jpg' %}" alt="" class="img-fluid">
								</div>
								<div class="col-sm-6 col-md-6" style="padding-top: 20px">
									<img src="{% static 'images/atmo/atmo5.jpg' %}" alt="" class="img-fluid">
								</div>
								<div class="col-sm-6 col-md-6" style="padding-top: 20px">
									<img src="{% static 'images/atmo/atmo6.jpg' %}" alt="" class="img-fluid">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>
{% endblock %}
{% block magnific_popup %}
{% endblock %}