<!DOCTYPE html>
<!-- <html lang="en"> -->
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	<meta name="description" content="{% block meta_description %} {% endblock %}">

	<meta name="yandex-verification" content="d10ee683ed2d864c" />

	<title>{% block title %}Гастробар "Сидрерия"{% endblock %}</title>

	<!-- Yandex.Metrika counter -->
	<script type="text/javascript" >
		(function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
			m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
		(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

		ym(65356156, "init", {
			clickmap:true,
			trackLinks:true,
			accurateTrackBounce:true,
			webvisor:true
		});
	</script>
	<noscript><div><img src="https://mc.yandex.ru/watch/65356156" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
	<!-- /Yandex.Metrika counter -->

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-207754120-1">
	</script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-207754120-1');
	</script>
	
	{% load static %}

	<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">

	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/chosen.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/animate.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/flaticon.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/magnific-popup.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.mCustomScrollbar.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/easyzoom.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/Pe-icon-7-stroke.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bebas_neue.css' %}">
	<link href='https://fonts.googleapis.com/css?family=Arimo:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Merriweather:400,700,400italic,300italic,300,700italic,900,900italic' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/color.css' %}">

	<link rel="stylesheet" href="{% static 'css/jquery.arcticmodal.css' %}">
	<link rel="stylesheet" href="{% static 'css/simple.css' %}">


</head>
<body class="home">

<div id="box-mobile-menu" class="full-height full-width box-mobile-menu">
	<div class="box-inner">
		<a href="#" class="close-menu"><span class="icon fa fa-times"></span></a>
	</div>
</div>
<div id="header-ontop" class="is-sticky"></div>

	{% block header %} {% endblock %}

	{% block content %} {% endblock %}

		

	<footer class="footer">
		<div class="container">
			{% block social %}

			{% endblock %}
			<div class="row">
		    	<div class="col-sm-4">
					<div class="widget">
						<h3 class="widget-title">Контакты</h3>
						<ul>
							<li>
								<label>Адреса: </label>
							</li>
							<li>
								<a>ул. Костюкова 36Г, Белгород </a>
							</li>
							<li>
								<a>ул. Левобережная 22А, Белгород </a>
							</li>
							<li>
								<label>Телефон: </label>
								<a href="tel:84722412416">8(4722) 412-416</a>
							</li>
							<li>
								<label>На время карантина: </label><br>
								<a>Ежедневно : 10-00/22-00</a><br>	
							</li>
							<li>
								<label>Часы работы: </label><br>
								<a>Вс-Чт : 09:00/0:00</a><br>
								<a>Пт-Сб : 09-00/3-00</a><br>			
							</li>
						</ul>
					</div>
				</div>
				<div class="google-map col-sm-8">
		        	<div id="canvas-for-google-map" style="height:100%; width:100%;max-width:100%;"><iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Aa3bfb8e600118b4d5d14401878ad4a08905d783457132e5ca97748b1153995b0&amp;source=constructor" height="330" frameborder="5"></iframe></div>
		    	</div>
			</div>
			<div class="row" style="padding-bottom: 1px; margin-bottom: 1px; text-align: center ; font-family: 'Bebas'; font-size: 20px">
				Чрезмерное употребление алкоголя вредит Вашему здоровью. Сайт предназначен для лиц старше 18 лет.
			</div>	
			<div class="footer-bottom">
				<div class="row">
					<div class="col-sm-12 col-md-6">
						<div class="coppyright">Сидрерия 2020 - 2021. Developed by <a target="_blank" href="https://annasoft.ru/">Annasoft</a></div>
					</div>
					<div class="col-sm-12 col-md-6">
						<div class="payment">
							<span><img src="{% static 'images/logos/mastercard.png' %}" alt=""></span>
							<span><img src="{% static 'images/logos/visa.png' %}" alt=""></span>
							<span><img src="{% static 'images/logos/mir.png' %}" alt=""></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- ./Footer -->

	<div class="modalInner" style="display: none;">
		<section class="offer">
			<div class="white-popup">
				<div class="kt-popup-newsletter">
					<div class="popup-title">
						<img src="{% static 'images/logos/Sidreria_logo_cherny.png' %}" width="200" alt=""></a>
						<!-- <h3 style="font-family: 'Bebas'; font-size: 50px">Сидрерия</h3> -->
						<p class="notice">Сайт содержит информацию о продуктах, предназначенных лицам старше 18 лет.</p>
					</div>
					<button class="button">Мне менее 18</button>
					<button class="button primary arcticmodal-close">Мне более 18</button>
				</div>
			</div>
		</section>
	</div>

	<a href="#" class="scroll_top" title="Scroll to Top"><i class="fa fa-arrow-up"></i></a>
		<script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/owl.carousel.min.js' %}"></script>
	    <script type="text/javascript" src="{% static 'js/chosen.jquery.min.js' %}"></script>
	    <script type="text/javascript" src="{% static 'js/Modernizr.js' %}"></script>
	    <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
	    <script type="text/javascript" src="{% static 'js/jquery.parallax-1.1.3.js' %}"></script>
	    <script type="text/javascript" src="{% static 'js/jquery.plugin.js' %}"></script>
	    <script type="text/javascript" src="{% static 'js/jquery.countdown.js' %}"></script>  
	    <script type="text/javascript" src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
	    {% block magnific_popup %}{% endblock %}
	    <script type="text/javascript" src="{% static 'js/wow.min.js' %}"></script>
	    <script type="text/javascript" src="{% static 'js/jquery.bxslider.min.js' %}"></script>
	    <script type="text/javascript" src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
	    <script type="text/javascript" src="{% static 'js/jquery.actual.min.js' %}"></script>
	    <script type="text/javascript" src="{% static 'js/masonry.pkgd.min.js' %}"></script>
	    <script type="text/javascript" src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
	    <script type="text/javascript" src="{% static 'js/isotope.pkgd.min.js' %}"></script>
	    <script type="text/javascript" src="{% static 'js/easyzoom.js' %}"></script>
	    <script type="text/javascript" src="{% static 'js/jquery.hoverdir.js' %}"></script>
	    <script type="text/javascript" src="{% static 'js/masonry.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/functions.js' %}"></script>



		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="{% static 'js/jquery.arcticmodal.js' %}"></script>
		<script src="{% static 'js/config.js' %}"></script>
		<script src="//yandex.st/jquery/cookie/1.0/jquery.cookie.min.js"></script>

		<script src="{% static 'js/jquery.maskedinput.js' %}"></script>

		<script type="text/javascript">
		   	jQuery(function($){
		   		$("#phoneInput").mask("+7 (999) 999-9999");
			});
		</script>

		<script>


			window.onload = init;

			function init() {

				document.body.classList.add('loaded');
				if (window.innerWidth > 480) {
					document.getElementById('collapseAll').classList.add('in');
				}

			}

			function Click(){
				document.getElementById("filter_form").submit()
			}

		</script>
</body>
</html>