<!DOCTYPE html>
<!-- <html lang="en"> -->
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	{% block head_meta %}
	<title>Сидрерия — гастробар и бар с сидром в Белгороде</title>
	<meta name="description" content="Сидрерия в Белгороде — гастробар с уютной атмосферой, авторской кухней и большим выбором сидра. Завтраки, ланчи, ужины и доставка по городу.">
	<link rel="canonical" href="{{ request.build_absolute_uri }}">
	<meta property="og:title" content="Сидрерия — гастробар в Белгороде">
	<meta property="og:description" content="Сидрерия предлагает уютную атмосферу, авторскую кухню, десятки сортов сидра и напитков. Завтраки, обеды, ужины, доставка и подарочные сертификаты.">
	<meta property="og:url" content="{{ request.build_absolute_uri }}">
	<meta property="og:type" content="website">
	<meta property="og:image" content="https://sidreriyabelgorod.ru/static/static/images/atmo/atmo4.jpg">
	{% endblock %}

	<meta name="yandex-verification" content="d10ee683ed2d864c" />
	<!-- Yandex.Metrika counter -->
	<script type="text/javascript" >
		(function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
			m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
		(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

		ym(65356156, "init", {
			clickmap:true,
			trackLinks:true,
			accurateTrackBounce:true,
			webvisor:true
		});
	</script>
	<noscript><div><img src="https://mc.yandex.ru/watch/65356156" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
	<!-- /Yandex.Metrika counter -->

	<!-- Global site tag (gtag.js) - Google Analytics -->
	{% comment %} <script async src="https://www.googletagmanager.com/gtag/js?id=UA-207754120-1">
	</script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-207754120-1');
	</script> {% endcomment %}
	
	{% load static %}

	<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">

	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}?{{ REVISION }}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}?{{ REVISION }}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.css' %}?{{ REVISION }}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/chosen.css' %}?{{ REVISION }}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/animate.css' %}?{{ REVISION }}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/flaticon.css' %}?{{ REVISION }}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/magnific-popup.css' %}?{{ REVISION }}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.mCustomScrollbar.css' %}?{{ REVISION }}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/easyzoom.css' %}?{{ REVISION }}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/Pe-icon-7-stroke.css' %}?{{ REVISION }}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bebas_neue.css' %}?{{ REVISION }}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/as/as-style.css' %}?{{ REVISION }}">
	<link href='https://fonts.googleapis.com/css?family=Arimo:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Merriweather:400,700,400italic,300italic,300,700italic,900,900italic' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}?{{ REVISION }}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/color.css' %}?{{ REVISION }}">
	<link rel="stylesheet" href="{% static 'css/jquery.arcticmodal.css' %}?{{ REVISION }}">
	<link rel="stylesheet" href="{% static 'css/simple.css' %}?{{ REVISION }}">

	<script src="https://unpkg.com/vue@3.0.1/dist/vue.global.prod.js"></script>
	<script src="https://unpkg.com/axios@1.0.0/dist/axios.min.js"></script>
	<script src="https://unpkg.com/naive-ui@2.40.4/dist/index.prod.js"></script>
	{% block custom_lib %}
	{% endblock %}

</head>
<body class="home">
	<div id="box-mobile-menu" class="full-height full-width box-mobile-menu">
		<div class="box-inner">
			<a href="#" class="close-menu"><span class="icon fa fa-times"></span></a>
		</div>
	</div>
	<div id="header-ontop" class="is-sticky"></div>
	<div id="header" class="header style2 style9">
		<div class="top-bar">
			<div class="container">
				<ul class="kt-nav top-bar-menu right">
					{% if user.is_authenticated %}
					<li>
						<a href="{% url 'show_profile' %}">Привет, {{ user }}</a>
					</li>
					<li>	
						<a href="{% url 'account_logout' %}">Выйти</a>
					</li>	
						{% else %}
					<li>
						<a href="{% url 'account_login' %}">Вход/Регистрация</a>
					</li>
					{% endif %}
					<li class="menu-item-has-children box-setting">
						<a href="tel:+74722412416"><span class="menu-icon pe-7s-headphones"></span> Тел: 412-416</a>
					</li>
				</ul>
			</div>
		</div>
	</div>	
	<div id="header" class="header">
		<div class="top-bar">
			<div class="container">
				<div class="top-bar-left">
					<div class="logo">
						<a href="{% url 'baseapp:index' %}"><img src="{% static 'images/logos/Sidreria_logo_bely.png' %}" width="150" alt=""></a>
					</div>
					<div class="form-search-wapper">
						<form id="search-form" class="form-search" method="GET" action="{% url 'show_catalog' %}">
							<input 
								class="input" 
								name="q" 
								type="text" 
								placeholder="Поиск по меню..."
								{% if q %}
								value="{{ q }}"
								{% endif %}
							>
							<button type="submit" form="search-form" class="btn-search" style="padding-bottom: 10px;"><span class="flaticon-magnifying-glass34"></span></button>
						</form>
					</div>
				</div>
	
				<div class="top-bar-right">
					<ul class="kt-nav top-bar-menu">
						<li class="">
						</li>
						<li class="box-setting">
							<a href="{% url 'show_wishlist' %}">
								<span class="menu-icon icon flaticon-heart295"></span>
								<span class="count">{% if wishlist %}{{ wishlist.count }} {% endif %}</span>
							</a>
						</li>
						<li class="mini-cart">
							<a  href="{% url 'show_cart' %}">
								<span class="menu-icon  icon flaticon-shopping-cart6"></span>
								{% if cart %}
									{% if cart.count > 0 %}
									<span class="count">{{ cart.count }}</span>
									<span class="text">шт.</span>
									<span class="kak">-</span>
									<span class="subtotal">&#8381 {{ cart.summ }}</span>
									{% endif %}
								{% endif %}
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="main-header">
			<div class="container">
				<div class="main-menu-wapper">
					<a class="mobile-navigation" href="#">
						<span class="icon">
							<span></span>
							<span></span>
							<span></span>
						</span>
						Меню
					</a>
					<ul class="kt-nav main-menu clone-main-menu">
						<li>
							<a href="{% url 'baseapp:delivery' %}">Доставка</a>
						</li>
						{% if in_bar %}
						<li class="menu-item-has-children item-megamenu">
							<a href="{% url 'show_in_barrels' %}">В бочонках</a>
							<div class="sub-menu megamenu" style="width:1200px;">
								<div class="row">
									{% for item in in_bar %}
									<div class="col-sm-3 margin-top-10" >
										<a href="{% url 'show_good' slug=item.good.slug %}"><img style="" src="{{ item.good.main_image.images.url }}" alt=""></a>
									</div>
									{% endfor %}
								</div>
							</div>
						</li>
						{% endif %}
						<li>
							<a href="{% url 'show_catalog' %}?Категория=Сидр">Сидр</a>
						</li>
						<li>
							<a href="{% url 'show_catalog' %}?Категория=Вино">Вино</a>
						</li>
						<li>
							<a href="{% url 'show_category' slug='4127154760' %}">Еда</a>
						</li>
						<li>
							<a href="{% url 'baseapp:set_lunch' %}">Обеды</a>
						</li>
						<li>
							<a href="{% url 'baseapp:breakfasts' %}">Завтраки</a>
						</li>
						<li>
							<a href="{% url 'baseapp:сertificate' %}">Сертификаты</a>
						</li>
						<li>
							<a href="{% url 'baseapp:atmosphere' %}">Атмосфера</a>
						</li>
						<li>
							<a href="{% url 'baseapp:about_us' %}">О нас</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	{% block content %} {% endblock %}

	<footer class="footer">
		<div class="container">
			{% block social %}

			{% endblock %}
			<div class="row">
				<div class="col-sm-3">
					<div class="widget">
						<h3 class="widget-title">Контакты</h3>
						<ul>
							<li>
								<label>Адрес: </label>
							</li>
							<li>
								<a>ул. Костюкова 36Г, Белгород </a>
							</li>
							<li>
								<label>Часы работы: </label><br>
								<a>Вс-Чт : 09-00/0-00</a><br>
								<a>Пт-Сб : 09-00/2-00</a><br>			
							</li>
						</ul>
					</div>
				</div>
		    	<div class="col-sm-3">
					<div class="widget">
						<h3 class="widget-title">Телефон <a href="tel:+74722412416">8(4722) 412-416</a></h3>
						<ul>
							<li>
								<label>Адрес: </label>
							</li>
							<li>
								<a>ул. Левобережная 22А, Белгород </a>
							</li>
							<li>
								<label>Часы работы: </label><br>
								<a>Пн-Чт : 11-00/0-00</a><br>
								<a>Пт : 11-00/2-00</a><br>
								<a>Сб : 14-00/2-00</a><br>	
								<a>Вс : 14-00/0-00</a><br>		
							</li>
						</ul>
					</div>
				</div>
				<div class="google-map col-sm-6">
		        	<div id="canvas-for-google-map" style="height:100%; width:100%;max-width:100%;"><iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Aa3bfb8e600118b4d5d14401878ad4a08905d783457132e5ca97748b1153995b0&amp;source=constructor" height="330" frameborder="5"></iframe></div>
		    	</div>
			</div>
			<div class="row" style="padding-bottom: 1px; margin-bottom: 1px; text-align: center ; font-family: 'Bebas'; font-size: 20px">
				Чрезмерное употребление алкоголя вредит Вашему здоровью. Сайт предназначен для лиц старше 18 лет.
			</div>	
			<div class="footer-bottom">
				<div class="row" style="text-align:center;"> 
					<div class="coppyright">Сидрерия 2020 - {{ actual_year }}. Developed by <a target="_blank" href="https://annasoft.ru/">Annasoft</a></div>
				</div>
			</div>
		</div>
	</footer>
	<!-- ./Footer -->

	<div class="modalInner" style="display: none;">
		<section class="offer">
			<div class="white-popup">
				<div class="kt-popup-newsletter">
					<div class="popup-title">
						<img src="{% static 'images/logos/Sidreria_logo_cherny.png' %}" width="200" alt=""></a>
						<p class="notice">Сайт содержит информацию о продуктах, предназначенных лицам старше 18 лет.</p>
					</div>
					<button class="button">Мне менее 18</button>
					<button class="button primary arcticmodal-close">Мне более 18</button>
				</div>
			</div>
		</section>
	</div>

	<a href="#" class="scroll_top" title="Scroll to Top"><i class="fa fa-arrow-up"></i></a>
		<script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}?{{ REVISION }}"></script>
		<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}?{{ REVISION }}"></script>
		<script type="text/javascript" src="{% static 'js/owl.carousel.min.js' %}?{{ REVISION }}"></script>
	    <script type="text/javascript" src="{% static 'js/chosen.jquery.min.js' %}?{{ REVISION }}"></script>
	    <script type="text/javascript" src="{% static 'js/Modernizr.js' %}?{{ REVISION }}"></script>
	    <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}?{{ REVISION }}"></script>
	    <script type="text/javascript" src="{% static 'js/jquery.parallax-1.1.3.js' %}?{{ REVISION }}"></script>
	    <script type="text/javascript" src="{% static 'js/jquery.plugin.js' %}?{{ REVISION }}"></script>
	    <script type="text/javascript" src="{% static 'js/jquery.countdown.js' %}?{{ REVISION }}"></script>  
	    <script type="text/javascript" src="{% static 'js/jquery.magnific-popup.min.js' %}?{{ REVISION }}"></script>
	    {% block magnific_popup %}{% endblock %}
	    <script type="text/javascript" src="{% static 'js/wow.min.js' %}?{{ REVISION }}"></script>
	    <script type="text/javascript" src="{% static 'js/jquery.bxslider.min.js' %}?{{ REVISION }}"></script>
	    <script type="text/javascript" src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}?{{ REVISION }}"></script>
	    <script type="text/javascript" src="{% static 'js/jquery.actual.min.js' %}?{{ REVISION }}"></script>
	    <script type="text/javascript" src="{% static 'js/masonry.pkgd.min.js' %}?{{ REVISION }}"></script>
	    <script type="text/javascript" src="{% static 'js/imagesloaded.pkgd.min.js' %}?{{ REVISION }}"></script>
	    <script type="text/javascript" src="{% static 'js/isotope.pkgd.min.js' %}?{{ REVISION }}"></script>
	    <script type="text/javascript" src="{% static 'js/easyzoom.js' %}?{{ REVISION }}"></script>
	    <script type="text/javascript" src="{% static 'js/jquery.hoverdir.js' %}?{{ REVISION }}"></script>
	    <script type="text/javascript" src="{% static 'js/masonry.js' %}?{{ REVISION }}"></script>
		<script type="text/javascript" src="{% static 'js/functions.js' %}?{{ REVISION }}"></script>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="{% static 'js/jquery.arcticmodal.js' %}?{{ REVISION }}"></script>
		<script src="{% static 'js/config.js' %}?{{ REVISION }}"></script>
		<script src="//yandex.st/jquery/cookie/1.0/jquery.cookie.min.js"></script>

		<script src="{% static 'js/jquery.maskedinput.js' %}?{{ REVISION }}"></script>

		<script type="text/javascript">
		   	jQuery(function($){
		   		$("#phoneInput").mask("+7 (999) 999-9999");
			});
		</script>

		<script>

			function Click(){
				document.getElementById("filter_form").submit()
			}

			function checkboxOnOff(e){

				checkboxes = e.getElementsByTagName('input');
				var inputChk = checkboxes[0];
				var viewChk = checkboxes[1];

				if (!inputChk.checked) {
					inputChk.checked = true;
					viewChk.checked = true;
				} else {
					inputChk.checked = false;
					viewChk.checked = false;
				}

				document.getElementById("filter_form").submit();
			}

		</script>
		{% block custom_script %}
		{% endblock %}
</body>
</html>