{% extends 'baseapp/index.html' %}

{% load static %}

{% block header %}
{{ block.super }}
{% endblock %}

{% block social %}
{{ block.super }}
{% endblock %}

{% block content %}

<div class="main-container right-sidebar style3 margin-bottom-30">
	<div class="container">
		<nav class="woocommerce-breadcrumb breadcrumbs">
			<a href="{% url 'baseapp:index' %}">На главную</a>
			<a href="{% url 'baseapp:breakfasts' %}">Завтраки</a>
			Меню
		</nav>
		<div class="row">
			<div class="col-sm-12 col-md-8 main-content margin-top-10">
				<div class="blog-single">
					<div class="post-item">
						<div class="post-thumb">
							<div class="images kt-images">
								<div class="kt-main-image">
									<a class="zoom" href="{{ breakfast_menu.image.url }}"><img src="{{ breakfast_menu.image.url }}" alt=""></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% include 'baseapp/widgets/popular_products_sidebar.html' %}	
		</div>
		{% include 'baseapp/widgets/pickup_reminder.html' %}
	</div>
</div>

{% endblock %}

{% block magnific_popup %}
{% endblock %}