{% extends 'baseapp/base.html' %}

{% block social %}
{{ block.super }}
{% endblock %}

{% load static %}

{% block content %}
<div class="main-container right-sidebar style3 margin-bottom-30" id="certificateApp">
	<n-config-provider :theme-overrides="themeOverrides">
		<div class="container">
			<nav class="woocommerce-breadcrumb breadcrumbs">
				<a href="{% url 'baseapp:index' %}">На главную</a>
				<a href="{% url 'baseapp:сertificate' %}">Сертификаты</a>
			</nav>
			<div class="row">
				<div class="col-sm-8 col-md-8 main-content">
					<div class="blog-single">
						<div class="post-item">
							<div class="post-thumb">
								<img src="{{ category.picture.url }}" alt="Первая Сидрерия в Белгороде">
							</div>
							<div class="post-info">
								<h3 class="post-title"><a>Ну вы только посмотрите какие у нас хорошенькие подарочные сертификаты.</a></h3>
								<div class="blog-content">
									<blockquote>Подарок на день рождения друзей, приятный комплимент коллегам и партнёрам или просто без повода порадовать своих близких — для всего этого наш сертификат будет отличным выбором.</blockquote>
									<p>Эстетически прекрасные и легко конвертируемые в вкуснейший сидр и закуски — ну идеально же!))</p>
									<blockquote>Номиналы имеем различные: 1000 Р, 3000 Р и 5000 Р.</blockquote>
									<p>Вам остаётся только позвонить нам и все! А далее дело за нами: либо заботливо вам передадим, либо упакуем и привезём, торжественно адресату вручим, открытку от вашего имени подпишем.</p>
									<p>Идеальная схема, мы считаем.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-12 main-content">
						<div class="shop-page-bar">
							<ul class="products product-list-grid desktop-columns-3 tablet-columns-3 mobile-columns-1">
								<li 
									class="product-item col-md-4 col-sm-4 col-xs-12"
									v-cloak
									v-for="item in goods_list"
									:key="item.slug"
								>
									<div class="product-inner">
										<div class="thumb has-second-image">
											<a 
												href="#"
												@click="redirectToGood(item.slug)"
											>
												<img v-if="item.img" class="product-thumb" :src="item.img" :alt="item.name + ' / ' + item.name_en">
												<img v-else class="product-thumb" src="{% static 'images/products/no-photo.png' %}">
											</a>
											<div class="group-button">
												<button v-if="item.ct_loading" disabled>
													<n-spin size="small"></n-spin>
												</button>
												<button v-else @click="addGoodToCart($event, item)">В корзину</button>
											</div>
										</div>
										<div class="info">
											<h3 class="product-name short">
												<a href="#" @click="redirectToGood(item.slug)">
													<span>${ item.name }$</span>
													<span v-if="item.name_en"> / ${ item.name_en }$</span>
												</a>
											</h3>
											<span class="price">
												&#8381 ${ item.price }$
											</span>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>		
				</div>
				{% include 'baseapp/widgets/popular_products_sidebar.html' %}
			</div>
			{% include 'baseapp/widgets/pickup_reminder.html' %}
		</div>
	</n-config-provider>
</div>	
{% endblock %}

{% block magnific_popup %}
{% endblock %}

{% block custom_script %}
<script type="text/javascript">
	const CertApp = {
		data () {
			const { NConfigProvider } = naive
			const themeOverrides = {
				common: {
				  primaryColor: '#444444',
				  primaryColorHover: '#444444',
				},
				Badge: {
				  color: '#eec15b',
				},
			}
			return {
				goods_list: [],
				popularDrinks: [],
				popularDishes: [],
				NConfigProvider,
				themeOverrides,
			}
		},
		delimiters: ["${", "}$"],
		mounted () {
			this.goods_list = {{ goods_list|safe }}
			this.popularDrinks = {{ popular_drinks|safe }}
			this.popularDishes = {{ popular_dishes|safe }}
		},
		methods: {
			redirectToGood(slug) {
				window.location.href = `/catalog/${slug}`
			},
			addGoodToCart (el, goodObj, listName) {
				el.preventDefault()
				let goods_list = this.goods_list
				if (listName == 'popularDrinks') {
					goods_list = this.popularDrinks
				} else if (listName == 'popularDishes') {
					goods_list = this.popularDishes
				}
				let good = goods_list.find(item => item.slug === goodObj.slug)
				good.ct_loading = true
				setTimeout(() => {
					axios.defaults.xsrfCookieName = 'csrftoken'
					axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"
					axios({
						method: 'post',
						url: `/api/v1/cart/`,
						data: {
							"price": good.price,
							"good": good.pk,
							"quantity": 1
						}
					}).then(response => {
						window.location.reload()
					}).catch(error => {
						console.log(error)
					}).finally(() => {
						good.ct_loading = false
					})
				}, 500)
			}
		}
	}
	const app = Vue.createApp(CertApp)
	app.use(naive)
	app.mount('#certificateApp')
</script>
{% endblock %}

