{% extends 'baseapp/base.html' %}

{% load static %}

{% block header %}

<div id="header" class="header style2 style9">
	<div class="top-bar">
		<div class="container">
			<ul class="kt-nav top-bar-menu right">
				{% if user.is_authenticated %}
				<li>
					<a href="{% url 'show_profile' %}">Привет, {{ user }}</a>
				</li>
				<li>	
					<a href="{% url 'account_logout' %}">Выйти</a>
				</li>	
					{% else %}
				<li>
					<a href="{% url 'account_login' %}">Вход/Регистрация</a>
				</li>
				{% endif %}
				<li class="menu-item-has-children box-setting">
					<a href="tel:84722412416"><span class="menu-icon pe-7s-headphones"></span> Тел: 412-416</a>
				</li>
			</ul>
		</div>
	</div>
</div>			


<div id="header" class="header">
	<div class="top-bar">
		<div class="container">
			<div class="top-bar-left">
				<div class="logo">
					<a href="{% url 'show_index' %}"><img src="{% static 'images/logos/Sidreria_logo_bely.png' %}" width="170" alt=""></a>
				</div>	
			</div>

			<div class="top-bar-right">
				<ul class="kt-nav top-bar-menu">
					<li class="menu-item-has-children">
						<a href="https://www.instagram.com/sidreriya_bel/"><i class="fa fa-instagram"></i></a>
					</li>
					<li class="menu-item-has-children box-setting">
						<a href="{% url 'show_wishlist' %}">
							<span class="menu-icon icon flaticon-heart295"></span>
							<!-- <span class="count">0</span> -->
						</a>
					</li>
					<li class="menu-item-has-children mini-cart">
						<a  href="{% url 'show_cart' %}">
							<span class="menu-icon  icon flaticon-shopping-cart6"></span>
							{% if cart %}
							<span class="count">{{ cart_count }}</span>
							<span class="text">шт.</span>
							<span class="kak">-</span>
							<span class="subtotal">&#8381 {{ cart.summ }}</span>
							{% endif %}
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="main-header">
		<div class="container">
			<div class="main-menu-wapper">
				<a class="mobile-navigation" href="#">
					<span class="icon">
						<span></span>
						<span></span>
						<span></span>
					</span>
					
				</a>
				<ul class="kt-nav main-menu clone-main-menu">
					<li>
						<a href="{% url 'show_delivery' %}">Доставка</a>
					</li>
					<li>
						<a href="#">В бочонках</a>
					</li>
					<li>
						<a href="{% url 'show_category' slug='2717255153' %}">Сидр</a>
					</li>
					<li>
						<a href="{% url 'show_category' slug='4127154760' %}">Еда</a>
					</li>
					<li>
						<a href="{% url 'show_atmosphere' %}">Атмосфера</a>
					</li>
					<li>
						<a href="{% url 'show_about_us' %}">О нас</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block content %}
<div class="container">
	<div class="kt_home_slide slide-home2 slide-home3 nav-center nav-style1 margin-top-30" data-nav="true" data-items="1" data-autoplay="true" data-loop="true" data-animateout="fadeOut" data-animatein="fadeIn">
		<div class="item-slide">
			<img src="{% static 'images/banners/home.jpg' %}" alt="">
			<div class="content-slide">
				<span data-animate="fadeInDown" class="caption subtitle">#сидимдомассидрерией</span>
				<h3></h3>
				<h1 data-animate="zoomIn" class="caption title">-25% НА ВЕСЬ СИДР<br>-20% НА ЕДУ САМОВЫВОЗОМ</h1>
				<a data-animate="fadeInDown" class="caption link merriweather" href="{% url 'show_delivery' %}">Подробнее...</a>
			</div>
		</div>
		<div class="item-slide">
			<img src="{% static 'images/banners/home.jpg' %}" alt="">
			<div  class="content-slide">
				<span data-animate="fadeInDown" class="caption subtitle">#сидимдомассидрерией</span>
				<h3></h3>
				<h1 data-animate="zoomIn" class="caption title">-25% НА ВЕСЬ СИДР<br>-20% НА ЕДУ САМОВЫВОЗОМ</h1>
				<a data-animate="fadeInDown"  class="caption link merriweather" href="{% url 'show_delivery' %}">Подробнее...</a>
			</div>
		</div>
	</div>
</div>

<div class="section-banner">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-6">
				<div class="kt-banner block-banner-text style3 margin-top-30" data-height="293" data-background="{% static 'images/banners/food.jpg' %}" data-positionright="40" data-verticalmiddle="middle">
					<a href="{% url 'show_category' slug='4127154760' %}" class="bg-image">Banner Bg</a>
					<div class="content text-right">
						<h4 class="subtitle" style="font-family: 'Bebas'; font-size: 60px">ЕДА</h4>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-md-6">
				<div class="kt-banner block-banner-text style3 margin-top-30" data-height="293" data-background="{% static 'images/banners/cidre.jpg' %}" data-positionright="40" data-verticalmiddle="middle">
					<a href="{% url 'show_category' slug='2717255153' %}" class="bg-image">Banner Bg</a>
					<div class="content text-right">
						<h4 class="subtitle" style="font-family: 'Bebas'; font-size: 60px">СИДР</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="section-banner margin-bottom-30">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-6">
				<div class="kt-banner block-banner-text style3 margin-top-30" data-height="293" data-background="{% static 'images/banners/delivery.jpg' %}" data-positionright="40" data-verticalmiddle="middle">
					<a href="{% url 'show_delivery' %}" class="bg-image">Banner Bg</a>
					<div class="content text-right">
						<h4 class="subtitle" style="font-family: 'Bebas'; font-size: 60px">ДОСТАВКА</h4>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-md-6">
				<div class="kt-banner block-banner-text style3 margin-top-30" data-height="293" data-background="{% static 'images/banners/atmo.jpg' %}" data-positionright="40" data-verticalmiddle="middle">
					<a href="{% url 'show_atmosphere' %}" class="bg-image">Banner Bg</a>
					<div class="content text-right">
						<h4 class="subtitle" style="font-family: 'Bebas'; font-size: 60px">АТМОСФЕРА</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block magnific_popup %}
{% endblock %}