{% extends 'baseapp/base.html' %}

{% load static %}

{% block header %}

<div id="header" class="header">
	<div class="top-bar">
		<div class="container">
			<div class="top-bar-left">
				<div class="logo">
					<a href="{% url 'show_index' %}"><img src="{% static 'images/logos/1.png' %}" alt=""></a>
				</div>

			</div>

			<div class="top-bar-right">
				<ul class="kt-nav top-bar-menu">
					<li class="menu-item-has-children">
						<a href="#"><span>Регистрация/Войти</span></a>
					</li>
					<li class="menu-item-has-children box-setting">
						<a href="#">
							<span class="menu-icon icon flaticon-heart295"></span>
						</a>
					</li>
					<li class="menu-item-has-children mini-cart">
						<a class="cart-link" href="#">
							<span class="menu-icon  icon flaticon-shopping-cart6"></span>
							<span class="count">0</span>
							<span class="text">шт.</span>
							<span class="kak">-</span>
							<span class="subtotal">$0.00</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="main-header">
		<div class="container">
			<div class="main-menu-wapper">
				<a class="mobile-navigation" href="#">
					<span class="icon">
						<span></span>
						<span></span>
						<span></span>
					</span>
					
				</a>
				<ul class="kt-nav main-menu clone-main-menu">
					<li>
						<a href="{% url 'show_index' %}">На главную</a>
					</li>
					<li>
						<a href="#">Доставка</a>
					</li>
					{% for cat in categories %}
					<li>
						<a href="{% url 'show_category' slug=cat.slug %}">{{ cat.name }}</a>
					</li>
					{% endfor %}

					<li>
						<a href="#">Атмосфера</a>
					</li>
					<li>
						<a href="#">О нас</a>
					</li>
					<li>
						<a href="#">Контакты</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block content %}

{% endblock %}