{% extends 'baseapp/base.html' %}

{% load static %}

{% block head_meta %}
<title>Комплексные обеды в Сидрерии — Белгород | Дружеские обеды | Доставка обедов</title>
<meta name="description" content="Комплексные обеды в Сидрерии Белгород: обеденный сет с горячими блюдами, салатами и напитками. Закажите обед на работу или в офис с доставкой.">
<link rel="canonical" href="https://sidreriyabelgorod.ru/lunch-set/">

<meta property="og:title" content="Обеденный сет в Сидрерии — Белгород">
<meta property="og:description" content="Сидрерия предлагает комплексные обеды и ланчи в Белгороде. Свежие блюда, быстрый сервис, уютная атмосфера.">
<meta property="og:url" content="https://sidreriyabelgorod.ru/lunch-set/">
<meta property="og:type" content="website">
<meta property="og:image" content="https://sidreriyabelgorod.ru/static/images/atmo/atmo4.jpg">
{% endblock %}


{% block social %}
{{ block.super }}
{% endblock %}

{% block content %}
<div id="order_form">
	<n-config-provider :theme-overrides="themeOverrides">
		<div class="main-container right-sidebar">
			<div class="container">
				<nav class="woocommerce-breadcrumb breadcrumbs">
					<a href="{% url 'baseapp:index' %}">На главную</a>
					<a href="{% url 'baseapp:set_lunch' %}">Дружеские обеды</a>
					Сегодня в меню
				</nav>
				{% comment %} баннер - сокращенное время работы {% endcomment %}
				{% comment %} <div class="comments-area">
					<ol class="comment-list">
						<li class="comment">
							<div class="comment-item">
								<div class="comment-content" align="center">
									<p style="font-family: 'Bebas'; font-size: 20px">В связи с обстановкой, мы вынуждены временно<br> работать по сокращенному режиму:</p>
								</div>
								<div class="comment-author" style="padding-top: 20px; padding-bottom: 20px" align="center">
									<span class="author" style="font-family: 'Bebas'; font-size: 38px">с 10:00 до 16:00</span>
								</div>
								<div class="comment-content" align="center">
									<p style="font-family: 'Bebas'; font-size: 20px">Вместе с вами ждем, когда все наладится</p>
								</div>
							</div>
						</li>
					</ol>
				</div> {% endcomment %}
				{% comment %} баннер - сокращенное время работы {% endcomment %}
				{% comment %} <div class="row" v-if="orderCreateMessage"> 
					<div class="col-xs-12 col-md-6 col-md-offset-3">
						<div class="white-popup" style="width: auto;">
							<div class="kt-popup-newsletter">
								<div class="popup-title">
									<H3 class="notice">${ orderCreateData }$</H3>
									<p class="notice" v-if="orderCreateMessage">${ orderCreateMessage }$</p>
								</div>
								<div class="row margin-top-30" style="display: flex; justify-content: center;">
									<a style="padding-top: 7px; margin-left: 0px;" href={% url 'baseapp:index' %} class="button primary col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2">ОК</a>
								</div>
							</div>
						</div>
					</div>
				</div>  {% endcomment %}
				<div class="row">
					<div class="col-sm-12 col-md-8 main-content">
						<div class="blog-single">
							<div class="post-item">
								<div class="post-thumb">
									<div class="images kt-images">
										<div class="kt-main-image">
											{% if set_lunch.image %}
											<a class="zoom" href="{{ set_lunch.image.url }}"><img src="{{ set_lunch.image.url }}" alt=""></a>
											{% else %}
											<a class="zoom" href="{% static 'images/banners/set_lunch_default.png' %}"><img src="{% static 'images/banners/set_lunch_default.png' %}" alt=""></a>
											{% endif %}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-4 sidebar border blog-sidebar">
						<div class="block-form">
							<div class="panel" style="border-bottom-style: none;">
								<h3 class="form-heading">Форма заказа</h3>
								<n-form
									ref="formRef"
									:model="model"
									:rules="rules"
									:size="size"
									label-placement="top"
								>
									<n-grid cols="4" item-responsive responsive="screen">
										<n-form-item-gi
											span="2"
											path="radioDeliveryValue"
										>
											<n-radio-group 
												v-model:value="model.radioDeliveryValue" 
												name="radioDeliveryValue"
												@update:value="() => showDeliveryAddressFields = !showDeliveryAddressFields"
											>
												<n-space vertical>
													<n-radio value="1" :disabled="loadingIndicator">
														Доставка
													</n-radio>
													<n-radio value="2" :disabled="loadingIndicator">
														Самовывоз
													</n-radio>
												</n-space>
											</n-radio-group>
										</n-form-item-gi>
										<n-form-item-gi
											span="2"
											path="radioDeliveryTimeValue"
										>
											<n-radio-group 
												v-model:value="model.radioDeliveryTimeValue" 
												name="radioDeliveryTimeValue"
												@update:value="() => showTimePicker = !showTimePicker"
											>
												<n-space vertical>
													<n-radio value="1" :disabled="loadingIndicator">
														Как можно скорее
													</n-radio>
													<n-radio value="2" :disabled="loadingIndicator">
														Выбрать время
													</n-radio>
													<n-time-picker 
														v-model:value="model.timePickerValue" 
														format="HH:mm" 
														v-if="showTimePicker" 
														placeholder="Выберите время"
														:disabled="loadingIndicator"
													/>
												</n-space>
											</n-radio-group>
										</n-form-item-gi>
										<n-form-item-gi span="4" label="Количество" path="quantity">
											<n-input 
												v-model:value="model.quantity" 
												placeholder="Кол-во" 
												:allow-input="onlyAllowNumber"
												:disabled="loadingIndicator" 
											/>
										</n-form-item-gi>
										<n-form-item-gi span="4" label="Комментарий" path="comment">
											<n-input 
												v-model:value="model.comment" 
												placeholder="Ваши пожелания к заказу" 
												type="textarea"
												:disabled="loadingIndicator" 
											/>
										</n-form-item-gi>
										<n-form-item-gi span="4 m:4 l:4" label="Имя" path="name">
										<n-input 
											v-model:value="model.name" 
											placeholder="Ваше имя" 
											:disabled="loadingIndicator" 
										/>
									</n-form-item-gi>
										<n-form-item-gi span="4" label="Телефон" path="phone">
											<n-input 
												v-model:value="model.phone" 
												placeholder="Ваш номер телефона" 
												:allow-input="onlyAllowNumber"
												:disabled="loadingIndicator"
											/>
										</n-form-item-gi>
										<n-form-item-gi v-if="showDeliveryAddressFields" span="4" label="Населенный пункт" path="city">
											<n-input
												v-model:value="model.city" 
												placeholder="Населенный пункт" 
												:disabled="loadingIndicator"
											/>
										</n-form-item-gi>
										<n-form-item-gi v-if="showDeliveryAddressFields" span="4" label="Улица" path="street">
											<n-input 
												v-model:value="model.street" 
												placeholder="Улица"
												:disabled="loadingIndicator"
											/>
										</n-form-item-gi>
										<n-form-item-gi v-if="showDeliveryAddressFields" span="2 m:2 l:2" label="Дом" path="house">
											<n-input 
												v-model:value="model.house" 
												placeholder="Дом"
												:disabled="loadingIndicator" 
											/>
										</n-form-item-gi>
										<n-form-item-gi v-if="showDeliveryAddressFields" span="2 m:2 l:2" label="Квартира" path="apartments">
											<n-input 
												v-model:value="model.apartments" 
												placeholder="Квартира" 
												:disabled="loadingIndicator"
											/>
										</n-form-item-gi>
										<n-form-item-gi v-if="showDeliveryAddressFields" span="2 m:2 l:2" label="Подъезд" path="porch">
											<n-input 
												v-model:value="model.porch" 
												placeholder="Подъезд" 
												:disabled="loadingIndicator"
											/>
										</n-form-item-gi>
										<n-form-item-gi v-if="showDeliveryAddressFields" span="2 m:2 l:2" label="Этаж" path="floor">
											<n-input 
												v-model:value="model.floor" 
												placeholder="Этаж"
												:disabled="loadingIndicator" 
											/>
										</n-form-item-gi>
										<n-form-item-gi
											span="2"
											path="radioSelfPickupType"
											v-if="!showDeliveryAddressFields"
										>
											<n-radio-group 
												v-model:value="model.radioSelfPickupType" 
												name="radioSelfPickupType"
											>
												<n-space vertical>
													<n-radio value="2" :disabled="loadingIndicator">
														Заберу из Сидрерии на Везелке
													</n-radio>
													<n-radio value="1" :disabled="loadingIndicator">
														Заберу из Сидрерии на Костюкова
													</n-radio>
												</n-space>
											</n-radio-group>
										</n-form-item-gi>
									</n-grid>
								</n-form>
								<div class="block-form-footer text-center">
									<button v-if="loadingIndicator" disabled>
										<n-space justify="center" align="center">
											<n-spin size="medium" />
										</n-space>
									</button>
									<button v-else @click="createNewOrder" class="button primary">
										Отправить заказ
									</button>
								</div>
							</div>
						</div>

						<p style="margin-left: 20px;">
							- От 3-х обедов привезём БЕСПЛАТНО!
						</p>

						<p style="margin-left: 20px;">
							Совершая заказ вы соглашаетесь с <a href="{% url 'baseapp:delivery' %}">условиями  доставки</a>.<br> 
						</p>
						<p style="margin-left: 20px;">	
							Обеденное время:<br> Пн-Пт : 11:00/18:00
						</p>
					</div>
				</div>
			</div>
		</div>
		<transition name="orderCreateResponseModal">
			<div v-if="showOrderCreateModal" v-cloak>
				<div class="modal-mask">
					<div class="modal-wrapper">
					<div class="modal-container container">
						<div class="row"> 
							<div class="col-xs-12 col-md-6 col-md-offset-3">
								<div v-if="orderCreateMessage" class="white-popup" style="width: auto;">
									<div class="kt-popup-newsletter">
										<div class="popup-title">
											<H3 class="notice">${ orderCreateData }$</H3>
											<p class="notice" v-if="orderCreateMessage">${ orderCreateMessage }$</p>
										</div>
										<div class="row margin-top-30" style="display: flex; justify-content: center;">
											<a style="padding-top: 7px; margin-left: 0px;" href={% url 'baseapp:index' %} class="button primary col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2">ОК</a>
										</div>
									</div>
									<a href={% url 'baseapp:index' %} title="Close (Esc)" type="button" class="mfp-close" style="color: #666666;">×</a>
								</div>
							</div>
						</div> 
					</div>
					</div>
				</div>
			</div>
		</transition>
	</n-config-provider>
</div>
{% endblock %}

{% block magnific_popup %}
{% endblock %}

{% block custom_script %}
<script type='text/javascript'>
	axios.defaults.xsrfCookieName = 'csrftoken';
	axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
</script>
{% comment %} <script type="text/javascript" src="{% static 'js/as/set_lunch.js' %}"></script> {% endcomment %}

<script type="text/javascript">
	const OrderForm = {
		setup () {
			const themeOverrides = {
				common: {
					primaryColor: '#262626',
					primaryColorHover: '#262626'
				}
			}
			const formRef = Vue.ref(null);
			const showTimePicker = Vue.ref(false);
			const showDeliveryAddressFields = Vue.ref(true);
			const loadingIndicator = Vue.ref(false);
			const orderCreateMessage = Vue.ref("");
			const orderCreateData = Vue.ref("");
			const showOrderCreateModal = Vue.ref(false);

			const deliveryAddress = () => {
				let address = "";
				if (formRef.value.model.city) {
					address += formRef.value.model.city;
				};
				if (formRef.value.model.street) {
					address += ", " + formRef.value.model.street + " ул.";
				};
				if (formRef.value.model.house) {
					address += ", д " + formRef.value.model.house;
				};
				if (formRef.value.model.apartments) {
					address += ", кв " + formRef.value.model.apartments;
				};
				if (formRef.value.model.porch) {
					address += ", подъезд " + formRef.value.model.porch;
				};
				if (formRef.value.model.floor) {
					address += ", этаж " + formRef.value.model.floor;
				};
				if (address != "") {
					address += ".";
				};
				return address;
			};

			const sendOrder = (data) => {
				axios.defaults.xsrfCookieName = 'csrftoken'
				axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"
				loadingIndicator.value = true;
				orderCreateData.value = "";
				orderCreateMessage.value = "";
				showOrderCreateModal.value = false;
				setTimeout(() => {
					axios({
						method: 'post',
						url: '/api/v1/order/',
						data: data,
					}).then((response) => {
						orderCreateData.value = response.data.data;
						orderCreateMessage.value = response.data.message;
						showOrderCreateModal.value = true;
						if (typeof window !== 'undefined' && typeof window.ym !== 'undefined') {
							window.ym("{{ YM_ID }}", 'reachGoal', 'lunch_order', {
								order_price: Number("{{ good_price }}"),
								currency: 'RUB',
							})
						} else {
							console.log('sendMetrik', 'lunch_order', {
								order_price: Number("{{ good_price }}"),
								currency: 'RUB',
							})
						}
					}).catch((error) => {
						console.log(error);
						if (error.data.error) {
							orderCreateData.value = error.data.error;
						} else {
							orderCreateData.value = "Произошла ошибка на сервере, мы уже работаем над ее устранением!";
						}
						showOrderCreateModal.value = true;
					}).finally(() => {
						loadingIndicator.value = false;
					});
				}, 500);
				
			};

			const createNewOrder = (e) => {
				e.preventDefault();
				formRef.value?.validate(
					(errors) => {
						if (!errors) {
							let data = {
								"orderType": formRef.value.model.radioDeliveryValue,
								"first_name": formRef.value.model.name,
								"phone": formRef.value.model.phone,
								"cookTimeType": formRef.value.model.radioDeliveryTimeValue,
								"items": [{
									"good_id": "{{ good_slug }}",
									"quantity": formRef.value.model.quantity,
									"price": Number("{{ good_price }}"),
									"summ": Number("{{ good_price }}") * Number(formRef.value.model.quantity),
								}],
								"comment": formRef.value.model.comment
							};
							if (formRef.value.model.radioDeliveryValue == "1") {
								data["address"] = deliveryAddress();
							} else if (formRef.value.model.radioDeliveryValue == "2") {
								data["pickupType"] = formRef.value.model.radioSelfPickupType;
							};
							if (formRef.value.model.radioDeliveryTimeValue == "2") {
								formRef.value.model.timePickerValue
									? data["cookTime"] = new Date(formRef.value.model.timePickerValue).toLocaleTimeString('ru-RU', { hour12: false })
									: data["cookTime"] = new Date().toLocaleTimeString('ru-RU', { hour12: false });
							};
							sendOrder({
								"data": data,
							});
						} else {
							console.log("Validation error:", error);
						}
					}
				);
			};

			return {
				themeOverrides,
				formRef,	
				showTimePicker,
				showDeliveryAddressFields,
				orderCreateMessage,
				orderCreateData,
				loadingIndicator,
				showOrderCreateModal,
				createNewOrder,
				size: Vue.ref("medium"),
				onlyAllowNumber: (value) => !value || /^\d+$/.test(value),
				model: Vue.ref({
					name: null,
					phone: null,
					city: "Белгород",
					street: null,
					house: null,
					apartments: null,
					porch: null,
					floor: null,
					radioDeliveryValue: "1",
					radioDeliveryTimeValue: "1",
					timePickerValue: null,
					radioSelfPickupType: "2",
					quantity: "1",
					comment: "",
				}),
				rules: {
					name: {
						required: true,
						trigger: ["blur", "input"],
						message: "Введите имя",
					},
					phone: {
						required: true,
						trigger: ["blur", "input"],
						message: "Введите номер телефона"
					},
					city: {
						required: true,
						trigger: ["blur", "input"],
						message: "Введите населенный пункт",
					},
					street: {
						required: true,
						trigger: ["blur", "input"],
						message: "Введите улицу",
					},
					house: {
						required: true,
						trigger: ["blur", "input"],
						message: "Введите номер дома",
					},
					radioGroupValue: {
						trigger: 'change',
						message: 'Выберите тип доставки',
					},
					radioDeliveryTimeValue: {
						trigger: 'change',
						message: 'Выберите время доставки',
					},
					timePickerValue: {
						trigger: ["blur", "change"],
						message: "Выберите время доставки",
					},
					radioSelfPickupType: {
						trigger: 'change',
						message: "Выберите тип самовывоза",
					},
					quantity: {
						required: true,
						trigger: ["blur", "input"],
						message: "Укажите количество"
					},
					comment: {
						required: true,
						trigger: ["blur", "input"],
						message: "Ваши пожелания к заказу",
					},
				}
			}
		},
		delimiters: ["${", "}$"]
	  }
	Vue.createApp(OrderForm).use(naive).mount('#order_form')
</script>	
{% endblock %}